{{ 'collections-list.css' | asset_url | stylesheet_tag }}

{%- style -%}
{%- endstyle -%}

<slider-component data-desktop-items="4" data-tablet-items="3" data-mobile-items="2">
  <section class="collections-list">
    <div class="prev">
      {% render 'icons', icon: 'chevron-prev' -%}
    </div>
    <div class="sliderContainer">
      <div class="slider">
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
      </div>
    </div>
    <div class="next">
      {% render 'icons', icon: 'chevron-next' -%}
    </div>
  </section>
</slider-component>

{% schema %}
{
  "name": "Collections list",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "Collections list",
      "blocks": []
    }
  ]
}
{% endschema %}
