{{ 'main-404.css' | asset_url | stylesheet_tag }}

<div class="main-404">
  <div class="main-404__container">
    <h3>Page not found</h3>
    <p>Sorry this page does not exist</p>

    <div class="search-form__container">
      <form action="{{ routes.search_url }}" method="get" class="search-section__form">
        <input
          id="Search"
          class="search-form__input"
          type="search"
          name="q"
          value="{{ search.terms | escape }}"
          placeholder="What are you looking for?"
          {%- if settings.predictive_search_enabled -%}
            autocorrect="off"
            autocomplete="off"
            autocapitalize="off"
            spellcheck="false"
          {%- endif -%}
        >
        {%- if settings.predictive_search_enabled -%}
          <div class="search-form__results" id="predictive-search" tabindex="-1"></div>
        {%- endif -%}
      </form>
      <button class="search__icon">
        {% render 'snippet-icons', icon: 'search' %}
      </button>
    </div>

    <div class="buttons">
      <a
        class="button button--primary border"
        href="{{ routes.all_products_collection_url }}"
      >
        <span></span> <span></span> <span></span> <span></span>
        Continue shopping
      </a>
    </div>
  </div>
</div>
