{{ 'main-cart-drawer.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .cart-drawer__container, .cart-drawer__content--empty {
    background-color: black;
    border: 2px solid white;
    border-radius: 0px;
  }
  .recommended-products {
    background-color: #222;
  }
  .recommended-products.desktop-only {
    border: 2px solid white;
    border-radius: 0px;
  }
  {% if section.settings. show_cart_recommended_products == true %}
    .recommended-products.desktop-only.active {
      transform: translateX(-99%);
      transition: transform 0.8s cubic-bezier(0.75, 0, 0.175, 1);
    }
  {% else %}
    .recommended-products.mobile-only {
      display: none;
    }
  {% endif %}
{%- endstyle -%}

<cart-component class="hidden">
  <order-note class="cart-drawer">
    <div class="cart-drawer__content--filled">
      <div class="cart-drawer__note-popup fade">
        <div class="cart-drawer__note-popup__content">
          <div id="note-close-icon">
            {% render 'icons', icon: 'close' %}
          </div>
          <label for="cart-note">Add an note to your order</label>
          <textarea name="cart-note" id="cart-note" rows="3" placeholder=""></textarea>
          <div class="buttons">
            <a id="cart-note-send" class="button button--primary border"> SAVE </a>
          </div>
        </div>
      </div>

      <div class="cart-drawer__container">
        <div class="cart-drawer__head">
          <div class="cart-drawer__title">
            <h6>Cart</h6>
          </div>
          <div id="close-icon">
            {% render 'icons', icon: 'close' %}
          </div>
        </div>
        <div class="free-shipping-reminder"></div>

        <div class="cart-drawer__products">
          <div class="cart-drawer__products-list"></div>
          <div class="recommended-products mobile-only">
            <p class="recommended-products__title">You may also like</p>
            <div class="recommended-products__list">
              <div class="recommended-products__list-container"></div>
            </div>
          </div>
        </div>
        <div class="cart-drawer__interaction">
          <div class="cart-drawer__interaction--empty">
            <p class="cart-drawer__empty-message">Your cart is empty</p>
            <div class="buttons">
              <a
                class="button button--primary border"
                href="/collections/all"
              >
                <span></span> <span></span> <span></span> <span></span>
                SHOP NOW
              </a>
            </div>
          </div>
          <div class="cart-drawer__interaction--filled">
            <div class="shadow-divider"></div>
            <div class="buttons">
              <a
                class="button button--primary border border"
                href=""
              >
                <span></span> <span></span> <span></span> <span></span>VIEW CART
              </a>
              <a
                class="button button--primary border border"
                href=""
              >
                <span></span> <span></span> <span></span> <span></span> CHECKOUT
              </a>
            </div>
            <div class="bottom">
              <a class="order-note link">Add order note</a>
              <p class="disclaimer">Shipping & taxes calculated at checkout</p>
            </div>
          </div>
        </div>
      </div>
      <div class="recommended-products desktop-only">
        <p class="recommended-products__title">You may also like</p>
        <div class="recommended-products__list">
          <div class="recommended-products__list-container"></div>
        </div>
      </div>
    </div>
  </order-note>
</cart-component>

{% schema %}
{
  "name": "Cart drawer",
  "class": "section-cart-drawer openable-element",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_cart_recommended_products",
      "label": "Show recommended products on cart drawer",
      "default": true,
      "info": "If the product in the cart is in a collection when there is no other products, the recommendations may not show up. Also products that are out of stock, or set to a price of 0, and gift cards, aren't included in recommendations. Learn more [here](https://help.shopify.com/en/manual/online-store/search-and-discovery/product-recommendations)."
    }
  ],
  "blocks": []
}
{% endschema %}
