{{ 'multi-icons.css' | asset_url | stylesheet_tag }}

{%- style -%}
{%- endstyle -%}

<multi-icon>
  <div class="multi-icon">
    <div class="multi-icon__heading">
      <h6>Heading</h6>
    </div>
    <div class="multi-icon__container">
      {% for blocks in section.blocks %}
        <div class="multi-icon__icon">
          <div class="icon">{% render 'multi-icon__icon' %}</div>
          <p class="text">logo</p>
        </div>
      {% endfor %}
    </div>
    <div class="chevrons">
      <span class="prev">
        {% render 'icons', icon: 'slideshow-chevron-prev' -%}
      </span>
      <span class="next">
        {% render 'icons', icon: 'slideshow-chevron-next' -%}
      </span>
    </div>
  </div>
</multi-icon>

{% schema %}
{
  "name": "Multi icons",
  "settings": [],
  "blocks": [{ "type": "icon", "name": "Icon", "settings": [] }],
  "presets": [
    {
      "name": "Multi icons",
      "blocks": [{ "type": "icon" }, { "type": "icon" }, { "type": "icon" }]
    }
  ]
}
{% endschema %}
