{%- style -%}
{%- endstyle -%}
{% for block in section.blocks %}
  {% case block.type %}
    {% when 'tab' %}
      <div class="product-page__tabs">
        <product-page-tabs data-set-initial-state="expanded" class="product-page__tabs">
          <div class="product-page__tab">
            <div class="product-page__tab-title">
              <h6 class="product-page__tab-title-text">{{ block.settings.tab_title }}</h6>
              <div class="product-page__tab-title-svg">
                <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M7 10.5L12 15.5L17 10.5" stroke="white" stroke-width="1.5"/>
                </svg>
              </div>
            </div>
            <div class="product-page__tab-content">
              <p>{{ product.description }}</p>
            </div>
          </div>
        </product-page-tabs>
      </div>
    {% when 'reviews' %}
      <div class="product-page__tabs">
        <product-page-tabs data-set-initial-state="expanded" class="product-page__tabs">
          <div class="product-page__tab product-page__reviews">
            <div class="product-page__tab-title">
              <h6 class="product-page__tab-title-text">Reviews</h6>
              <div class="product-page__tab-title-svg">
                <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M7 10.5L12 15.5L17 10.5" stroke="white" stroke-width="1.5"/>
                </svg>
              </div>
            </div>
            <div class="product-page__tab-content">
              <p>Reviews to be added later</p>
            </div>
          </div>
        </product-page-tabs>
      </div>
    {% when 'share_buttons' %}
      <div class="product-page__share-buttons">
        <svg width="140" height="25" viewBox="0 0 140 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4.59231 17.58C3.89915 17.58 3.23265 17.4689 2.59281 17.2467C1.96186 17.0157 1.47309 16.7224 1.12651 16.3669L1.51308 15.6071C1.84189 15.9271 2.28178 16.1981 2.83275 16.4203C3.39261 16.6335 3.97913 16.7402 4.59231 16.7402C5.17883 16.7402 5.65427 16.6691 6.01862 16.5269C6.39186 16.3758 6.6629 16.1759 6.83175 15.9271C7.00948 15.6782 7.09835 15.4027 7.09835 15.1006C7.09835 14.7362 6.99171 14.443 6.77843 14.2208C6.57404 13.9987 6.30299 13.8254 5.9653 13.7009C5.62761 13.5676 5.25437 13.4521 4.84558 13.3544C4.43679 13.2566 4.02801 13.1544 3.61922 13.0478C3.21043 12.9323 2.83275 12.7812 2.48617 12.5946C2.14848 12.4079 1.87299 12.1636 1.65971 11.8614C1.45532 11.5504 1.35312 11.146 1.35312 10.6484C1.35312 10.1863 1.47309 9.76416 1.71303 9.38203C1.96186 8.99102 2.33954 8.67998 2.84608 8.44893C3.35262 8.20899 4.00135 8.08902 4.79226 8.08902C5.31657 8.08902 5.83644 8.16456 6.35187 8.31563C6.8673 8.45782 7.31163 8.65777 7.68487 8.91548L7.35162 9.70195C6.95172 9.43535 6.52516 9.23984 6.07194 9.11543C5.62761 8.99102 5.1966 8.92881 4.77893 8.92881C4.21907 8.92881 3.75696 9.00435 3.39261 9.15542C3.02826 9.30649 2.75721 9.51089 2.57948 9.7686C2.41063 10.0174 2.32621 10.3018 2.32621 10.6217C2.32621 10.9861 2.42841 11.2793 2.6328 11.5015C2.84608 11.7237 3.12157 11.897 3.45926 12.0214C3.80584 12.1458 4.18352 12.2569 4.59231 12.3546C5.0011 12.4524 5.40544 12.559 5.80534 12.6745C6.21413 12.7901 6.58737 12.9411 6.92506 13.1278C7.27164 13.3055 7.54713 13.5454 7.75152 13.8476C7.9648 14.1497 8.07144 14.5452 8.07144 15.0339C8.07144 15.4872 7.94703 15.9093 7.6982 16.3003C7.44937 16.6824 7.06725 16.9935 6.55182 17.2334C6.04528 17.4645 5.39211 17.58 4.59231 17.58ZM13.5932 10.4351C14.1619 10.4351 14.6596 10.5462 15.0861 10.7684C15.5216 10.9816 15.8593 11.3104 16.0992 11.7548C16.3481 12.1991 16.4725 12.759 16.4725 13.4343V17.5H15.526V13.5277C15.526 12.7901 15.3394 12.2346 14.9662 11.8614C14.6018 11.4793 14.0864 11.2882 13.4199 11.2882C12.9222 11.2882 12.4868 11.3904 12.1136 11.5948C11.7492 11.7903 11.4648 12.0791 11.2604 12.4613C11.0649 12.8345 10.9672 13.2877 10.9672 13.8209V17.5H10.0207V7.60914H10.9672V12.4213L10.7806 12.0614C11.0027 11.5548 11.3582 11.1594 11.847 10.875C12.3357 10.5817 12.9178 10.4351 13.5932 10.4351ZM23.4145 17.5V15.9537L23.3745 15.7004V13.1144C23.3745 12.519 23.2056 12.0614 22.868 11.7414C22.5391 11.4215 22.0459 11.2616 21.3883 11.2616C20.9351 11.2616 20.5041 11.3371 20.0953 11.4882C19.6865 11.6392 19.3399 11.8392 19.0556 12.088L18.629 11.3815C18.9845 11.0794 19.411 10.8483 19.9087 10.6884C20.4063 10.5195 20.9307 10.4351 21.4816 10.4351C22.3881 10.4351 23.0857 10.6617 23.5744 11.1149C24.0721 11.5593 24.3209 12.2391 24.3209 13.1544V17.5H23.4145ZM21.0018 17.5667C20.4774 17.5667 20.0198 17.4822 19.6288 17.3134C19.2466 17.1356 18.9534 16.8957 18.749 16.5936C18.5446 16.2825 18.4424 15.9271 18.4424 15.5272C18.4424 15.1628 18.5268 14.834 18.6957 14.5407C18.8734 14.2386 19.1578 13.9987 19.5488 13.8209C19.9487 13.6343 20.4819 13.541 21.1484 13.541H23.5611V14.2475H21.175C20.4997 14.2475 20.0287 14.3674 19.7621 14.6074C19.5043 14.8473 19.3755 15.145 19.3755 15.5005C19.3755 15.9004 19.531 16.2203 19.842 16.4603C20.1531 16.7002 20.5885 16.8202 21.1484 16.8202C21.6816 16.8202 22.1392 16.7002 22.5214 16.4603C22.9124 16.2114 23.1968 15.856 23.3745 15.3939L23.5878 16.047C23.41 16.5091 23.099 16.8779 22.6547 17.1534C22.2192 17.4289 21.6683 17.5667 21.0018 17.5667ZM26.8915 17.5V10.5017H27.798V12.4079L27.7047 12.0747C27.9002 11.5415 28.229 11.1371 28.6911 10.8617C29.1532 10.5773 29.7264 10.4351 30.4106 10.4351V11.3549C30.3751 11.3549 30.3396 11.3549 30.304 11.3549C30.2685 11.346 30.2329 11.3415 30.1974 11.3415C29.4598 11.3415 28.8821 11.5681 28.4645 12.0214C28.0468 12.4657 27.838 13.1011 27.838 13.9276V17.5H26.8915ZM35.0451 17.5667C34.3164 17.5667 33.6766 17.4156 33.1256 17.1134C32.5746 16.8024 32.1436 16.3803 31.8326 15.8471C31.5215 15.305 31.366 14.6874 31.366 13.9942C31.366 13.301 31.5127 12.6879 31.8059 12.1547C32.1081 11.6215 32.5169 11.2038 33.0323 10.9016C33.5566 10.5906 34.1431 10.4351 34.7918 10.4351C35.4495 10.4351 36.0315 10.5862 36.5381 10.8883C37.0535 11.1816 37.4578 11.5993 37.7511 12.1413C38.0444 12.6745 38.191 13.2922 38.191 13.9942C38.191 14.0386 38.1865 14.0875 38.1777 14.1408C38.1777 14.1853 38.1777 14.2341 38.1777 14.2875H32.0859V13.581H37.6711L37.2979 13.8609C37.2979 13.3544 37.1868 12.9056 36.9646 12.5146C36.7514 12.1147 36.4581 11.8036 36.0849 11.5815C35.7116 11.3593 35.2806 11.2482 34.7918 11.2482C34.312 11.2482 33.881 11.3593 33.4988 11.5815C33.1167 11.8036 32.819 12.1147 32.6057 12.5146C32.3924 12.9145 32.2858 13.3721 32.2858 13.8876V14.0342C32.2858 14.5674 32.4013 15.0384 32.6324 15.4472C32.8723 15.8471 33.2011 16.1626 33.6188 16.3936C34.0454 16.6158 34.5297 16.7269 35.0718 16.7269C35.4983 16.7269 35.8938 16.6513 36.2581 16.5002C36.6314 16.3492 36.9513 16.1181 37.2179 15.8071L37.7511 16.4203C37.4401 16.7935 37.0491 17.0779 36.5781 17.2734C36.116 17.4689 35.605 17.5667 35.0451 17.5667Z" fill="white"/>
          <path d="M66.1019 8.19249H64.0785C63.3041 8.19249 62.6421 8.46792 62.0925 9.01878C61.5679 9.56964 61.3056 10.2332 61.3056 11.0094V13H59.6944V15.4038H61.3056V21H63.7037V15.4038H66.1019V13H63.7037V11.385C63.7037 11.1847 63.7787 11.0094 63.9286 10.8592C64.0785 10.6839 64.2658 10.5962 64.4906 10.5962H66.1019V8.19249ZM52.5 6C52.5 5.44772 52.9477 5 53.5 5H67.5C68.0523 5 68.5 5.44772 68.5 6V20C68.5 20.5523 68.0523 21 67.5 21H53.5C52.9477 21 52.5 20.5523 52.5 20V6Z" fill="white"/>
          <path d="M97.9437 6.63961C96.8927 5.58232 95.4383 5 93.8484 5C91.4197 5 89.926 6.04329 89.1006 6.91845C88.0833 7.99699 87.5 9.4291 87.5 10.8476C87.5 12.6287 88.2109 13.9957 89.4013 14.5042C89.4812 14.5385 89.5617 14.5558 89.6405 14.5558C89.8917 14.5558 90.0906 14.3836 90.1596 14.1074C90.1998 13.9489 90.2929 13.5579 90.3334 13.3882C90.42 13.0531 90.35 12.8918 90.161 12.6584C89.8167 12.2315 89.6564 11.7266 89.6564 11.0696C89.6564 9.118 91.0431 7.04386 93.6132 7.04386C95.6524 7.04386 96.9192 8.25849 96.9192 10.2137C96.9192 11.4475 96.6656 12.5902 96.205 13.4313C95.8849 14.0157 95.322 14.7124 94.458 14.7124C94.0843 14.7124 93.7487 14.5515 93.5369 14.2711C93.3368 14.006 93.2708 13.6635 93.3513 13.3066C93.4422 12.9034 93.5662 12.4827 93.6862 12.0761C93.9049 11.3334 94.1118 10.6319 94.1118 10.0723C94.1118 9.11503 93.5502 8.47181 92.7145 8.47181C91.6524 8.47181 90.8204 9.60225 90.8204 11.0454C90.8204 11.7531 90.9998 12.2825 91.0811 12.4858C90.9473 13.0798 90.1521 16.6117 90.0013 17.2777C89.9141 17.6665 89.3887 20.7373 90.2583 20.9822C91.2353 21.2572 92.1086 18.2665 92.1975 17.9286C92.2696 17.6538 92.5217 16.6145 92.6761 15.9756C93.1478 16.4517 93.9072 16.7736 94.6461 16.7736C96.0392 16.7736 97.292 16.1166 98.1738 14.9239C99.029 13.767 99.5 12.1546 99.5 10.3838C99.4999 8.9995 98.9326 7.63474 97.9437 6.63961Z" fill="white"/>
          <path d="M133.851 9.74006C133.851 9.88994 133.851 10.0273 133.851 10.1522C133.851 11.2764 133.639 12.388 133.214 13.4871C132.815 14.5613 132.228 15.548 131.453 16.4473C130.704 17.3466 129.717 18.0835 128.493 18.6581C127.294 19.2077 125.97 19.4824 124.521 19.4824C122.698 19.4824 121.024 18.9953 119.5 18.0211C119.75 18.0461 120.012 18.0586 120.287 18.0586C121.811 18.0586 123.172 17.5964 124.371 16.6721C123.647 16.6472 122.997 16.4223 122.423 15.9977C121.873 15.573 121.498 15.0359 121.299 14.3864C121.498 14.4364 121.698 14.4614 121.898 14.4614C122.198 14.4614 122.485 14.4114 122.76 14.3115C122.011 14.1616 121.386 13.7869 120.886 13.1874C120.387 12.5878 120.137 11.9009 120.137 11.1265C120.137 11.1015 120.137 11.089 120.137 11.089C120.612 11.3388 121.111 11.4762 121.636 11.5012C120.662 10.8267 120.174 9.91492 120.174 8.76582C120.174 8.16629 120.324 7.61672 120.624 7.11711C121.448 8.11633 122.435 8.9157 123.584 9.51524C124.758 10.1148 126.02 10.452 127.369 10.5269C127.319 10.2771 127.294 10.0273 127.294 9.77753C127.294 8.87823 127.606 8.11633 128.231 7.49182C128.88 6.84232 129.655 6.51758 130.554 6.51758C131.503 6.51758 132.302 6.85481 132.952 7.52929C133.701 7.3794 134.401 7.11711 135.05 6.7424C134.801 7.5168 134.313 8.11633 133.589 8.541C134.263 8.46606 134.9 8.30368 135.5 8.05388C135.05 8.70337 134.501 9.26543 133.851 9.74006Z" fill="white"/>
        </svg>
      </div>
  {% endcase %}
{% endfor %}

{% schema %}
{
  "name": "Product tabs",
  "class": "section-product-tabs",
  "settings": [],
  "blocks": [
    {
      "type": "tab",
      "name": "Tab",
      "settings": [
        {
          "type": "text",
          "id": "tab_title",
          "label": "Tab title",
          "default": "Tab title"
        }
      ]
    },
    { "type": "reviews", "limit": 1, "name": "Reviews", "settings": [] },
    { "type": "share_buttons", "limit": 1, "name": "Share buttons", "settings": [] }
  ],
  "presets": []
}
{% endschema %}
