.collections-list {
        height: auto;
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        @media screen and (max-width: 750px) {
                justify-content: space-between;
        }

        .prev,
        .next {
                visibility: hidden;
        }
        .prev {
                visibility: "hidden";
        }
        .prev {
                @media screen and (max-width: 750px) {
                        left: 12px;
                }
        }

        .next {
                @media screen and (max-width: 750px) {
                        right: 12px;
                }
        }

        .prev,
        .next {
                display: inline-block;
                height: 32px;
                width: 32px;
                cursor: pointer;
                opacity: 0.5;
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover {
                        opacity: 1;
                }
        }

        .sliderContainer {
                max-width: 100%;
                width: 100%;
                overflow: hidden;
                display: flex;
                justify-content: flex-start;

                .slider {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;
                        z-index: 1;
                        transition: all 0.5s cubic-bezier(0.45, 0.05, 0.55, 0.95);

                        @media screen and (min-width: 750px) {
                                transition: all 0.8s cubic-bezier(0.45, 0.05, 0.55, 0.95);
                        }

                        .item {
                                background-color: #222;
                                border: 2px solid #fff;

                                @media screen and (max-width: 750px) {
                                        height: 150px;
                                        width: 150px;
                                        max-width: 150px;
                                }

                                @media screen and (min-width: 750px) and (max-width: 1024px) {
                                        height: 200px;
                                        width: 200px;
                                        max-width: 200px;
                                }

                                @media screen and (min-width: 1024px) {
                                        height: 220px;
                                        width: 220px;
                                        max-width: 220px;
                                }
                        }
                }
        }
}
