.compare {
	&__section {
		display: flex;
		overflow: hidden;
		padding: 2rem 0px;

		.container {
			padding-top: 3rem;
		}

		@media screen and (max-width: 1024px) {
			justify-content: flex-start;
			overflow: auto;
		}

		@media screen and (min-width: 1025px) {
			justify-content: center;
		}
	}

	&__heading {
		position: absolute;
		width: 100%;
		text-align: center;
	}

	&__table {
		border-collapse: collapse;
		color: #333333;
		text-align: center;
		overflow: hidden;
	}

	&__head {
		height: 150px;
	}

	&__cell {
		padding: 1em 0em;
		border-top: 1px solid #dddddd;
		border-bottom: 1px solid #dddddd;
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		height: 100%;
		gap: 0.3rem;
		padding: 0 0.1rem 1rem 0.1rem;

		&_image-and-text {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 0.5rem;

			.compare-image {
				position: relative;
				height: 100px;
				width: 100px;

				@media screen and (min-width: 751px) {
					&.small {
						height: 80px;
						width: 80px;
					}

					&.medium {
						height: 100px;
						width: 100px;
					}

					&.large {
						height: 120px;
						width: 120px;
					}
				}

				.quick-add-icon {
					position: absolute;
					right: 0.1rem;
					bottom: 0.1rem;
				}
			}

			.product-name {
				text-transform: uppercase;
				font-weight: bold;
			}
		}

		&_description {
			height: 100%;
		}

		&_prices {
			display: flex;
			flex-direction: column;
		}
	}
}
