section.compare__section {
  width: 100%;
  display: flex;
  overflow: hidden;
}
section.compare__section .container {
  padding-top: 3rem;
}
@media screen and (max-width: 750px) {
  section.compare__section {
    justify-content: flex-start;
    overflow: auto;
  }
}
@media screen and (min-width: 750px) {
  section.compare__section {
    justify-content: center;
  }
}

.compare {
  border-collapse: collapse;
  color: #333333;
  text-align: center;
  overflow: hidden;
}
.compare__heading {
  position: absolute;
  width: 100%;
  text-align: center;
}
.compare__head {
  height: 150px;
}
.compare__cell {
  padding: 1em 0em;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}
.compare__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  gap: 0.3rem;
  padding: 0 0.1rem 1rem 0.1rem;
}
.compare__content_image-and-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.compare__content_image-and-text .compare-image {
  height: 100px;
  width: 100px;
}
@media screen and (min-width: 750px) {
  .compare__content_image-and-text .compare-image.small {
    height: 80px;
    width: 80px;
  }
  .compare__content_image-and-text .compare-image.medium {
    height: 100px;
    width: 100px;
  }
  .compare__content_image-and-text .compare-image.large {
    height: 120px;
    width: 120px;
  }
}
.compare__content_image-and-text .product-name {
  text-transform: uppercase;
  font-weight: bold;
}
.compare__content_description {
  height: 100%;
}
.compare__content_prices {
  display: flex;
  flex-direction: column;
}