section {
  width: 100%;
  display: flex;

  overflow: hidden;

  @media screen and (max-width: 750px) {
    justify-content: flex-start;
    overflow: auto;
  }

  @media screen and (min-width: 750px) {
    justify-content: center;
  }
}

.compare {
  border-collapse: collapse;
  color: #333333;
  text-align: center;
  overflow: hidden;

  @media screen and (max-width: 750px) {
    margin-left: 20px;
    margin-right: 20px;
  }

  &__head {
    height: 200px;
  }

  &__cell {
    padding: 1em 0em;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    gap: 0.3rem;
    padding: 0 0.1rem 1rem 0.1rem;

    &_image-and-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
    }

    &_description {
      height: 100%;
    }

    &_prices {
      display: flex;
      flex-direction: column;
    }
  }
}

.compare-image {
  height: 100px;
  width: 100px;
}

.product-name {
  text-transform: uppercase;
  font-weight: bold;
}
