.countdown-timer {
  &__timers {
    display: none;
    &.shown {
      display: flex;
      flex-direction: row;
    }
  }
  &__days {
    color: orange;
    display: flex;
    flex-direction: row;
  }
  &__days:after {
    content: ":";
  }
  &__message {
    animation: 5s fadeIn;
    &.hidden {
      display: none;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
