.countdown-timer__timers {
  display: none;
}
.countdown-timer__timers.shown {
  display: flex;
  flex-direction: row;
}
.countdown-timer__days {
  color: orange;
  display: flex;
  flex-direction: row;
}
.countdown-timer__days:after {
  content: ":";
}
.countdown-timer__message {
  -webkit-animation: 5s fadeIn;
          animation: 5s fadeIn;
}
.countdown-timer__message.hidden {
  display: none;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}