.logo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  .logo-list__content {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    overflow: hidden;

    .slide {
      display: flex;
      align-items: center;
      height: auto;

      .logo {
        width: auto;
        object-fit: contain;
        margin: 0px 10px;
      }
    }
  }
}

@keyframes logos-scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}
