.collection {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
}

.collection__form {
	display: flex;
	flex-direction: column;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.collection.empty-state {
	padding-top: calc(150px + var(--page-top-space));
	padding-bottom: 150px;
}

@media screen and (min-width: 750px) {
	.collection.empty-state {
		padding-top: calc(200px + var(--page-top-space));
		padding-bottom: 200px;
	}
}

.collection__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: var(--page-width);
	max-width: 100%;
	padding: 0.5rem;
	gap: 0.5rem;
}

@media screen and (min-width: 750px) {
	.collection__container {
		padding: 1rem;
	}
}

.collection__empty-state {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	justify-content: center;
	align-items: center;
}

.collection .collection-section__container {
	width: 400px;
}

.collection__content {
	width: 100%;
	height: auto;
	position: relative;
	overflow: hidden;
}

.collection__content-head {
	display: flex;
	justify-content: center;
	padding-top: 5rem;
}

.collection__page-tabs {
	display: flex;
	flex-direction: row;
}

.collection__page-tab {
	box-sizing: border-box;
	height: 50px;
	height: 40px;
	padding: 0 2rem;
	padding: 0 1.4rem;
	border-bottom: 1px solid var(--body-text-color);
	cursor: pointer;
	transition: all 0.1s ease-in-out;
}

.collection__page-tab:hover {
	border-bottom: 5px solid var(--body-text-color) !important;
	transition: all 0.1s ease-in-out;
}

.collection__page-tab.selected {
	border-bottom: 3px solid var(--body-text-color);
	transition: all 0.1s ease-in-out;
}

.collection__content-container {
	width: var(--page-width);
	max-width: 100%;
	height: auto;
	gap: 1rem;
}

@media screen and (min-width: 1024px) {
	.collection__content-container {
		display: flex;
		justify-content: center;
	}
}

.collection__content--middle {
	width: 100%;
	max-width: 1175px;
}

.filter__results {
	display: flex;
	flex-direction: column;
}

.filter__results--head {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

@media screen and (min-width: 1024px) {
	.filter__results--head {
		padding: 1rem;
	}
}

.filter__results--list {
	display: flex;
	flex-wrap: wrap;
}

.filter__results--list[type="articles"] {
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	padding: 2rem 0rem;
	background-color: var(--background-color);
	opacity: 0;
	pointer-events: none;
}

.collection__item {
	height: auto;
	padding: 0.5rem;
}

@media screen and (min-width: 725px) {
	.collection__item {
		padding: 1rem;
	}
}

.collection__item.article {
	width: calc(100% / 3);
}

@media screen and (max-width: 750px) {
	.collection__item.article {
		width: 100%;
	}
}

.collection__item-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
	gap: 0.5rem;
}

.collection__item__picture,
.collection__item__picture img {
	width: 100%;
	aspect-ratio: 1;
}
.collection__item__picture img,
.collection__item__picture .placeholder {
	border-radius: var(--global-border-radius);
}

.collection__item__picture.article,
.collection__item__picture.article img {
	aspect-ratio: 1.4;
}

.collection__item__picture {
	position: relative;
}

.collection__item__tag {
	position: absolute;
	z-index: 1;
	top: 5px;
	right: 5px;
}

.collection__item__tag .tag-text {
	color: var(--sale-tag-color);
}

.collection__item .quick-view-button {
	position: absolute;
	z-index: 1;
	right: 0;
	bottom: 0;
}

.collection__item__name {
	font-size: var(--small-font-size);
	text-align: center;
	color: var(--body-text-color);
}

.collection__item__prices {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	gap: 0.5rem;
}

.collection__container .active {
	opacity: 1;
	pointer-events: all !important;
	transition: all 0.5s ease-in-out;
}

.collection__container .hidden {
	opacity: 0;
	pointer-events: none;
	transition: all 0.5s ease-in-out;
}

.collection__page-tab.selected {
	border-bottom: 3px solid var(--body-text-color);
	transition: all 0.1s ease-in-out;
	pointer-events: none;
}
