.search {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
}

.search {
	padding-top: 130px;
}

@media screen and (min-width: 750px) {
	.search {
		padding-top: 140px;
	}
}

.search.empty-state {
	padding-top: calc(150px + 130px);
	padding-bottom: 150px;
}

@media screen and (min-width: 750px) {
	.search.empty-state {
		padding-top: calc(200px + 140px);
		padding-bottom: 200px;
	}
}

.search__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: var(--page-width);
	max-width: 100%;
	padding: 0.5rem;
	gap: 2rem;
}

@media screen and (min-width: 750px) {
	.search__container {
		padding: 1rem;
	}
}

.search__empty-state {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	justify-content: center;
	align-items: center;
}

.search .search-form__container {
	width: 400px;
}

.search__content {
	width: 100%;
	height: auto;
	position: relative;
	overflow: hidden;
}

.search__content-head {
	display: flex;
	justify-content: center;
	padding-top: 5rem;
}

.search__content-container {
	width: var(--page-width);
	max-width: 100%;
	height: auto;
	gap: 1rem;
}

@media screen and (min-width: 1024px) {
	.search__content-container {
		display: flex;
		justify-content: center;
		padding: 2rem;
	}
}

.search__content--middle {
	width: 100%;
	max-width: 1175px;
}

.filter__results {
	display: flex;
	flex-direction: column;
}

.filter__results--head {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

@media screen and (min-width: 1024px) {
	.filter__results--head {
		padding: 1rem;
	}
}

.filter__results--list {
	display: flex;
	flex-wrap: wrap;
}

.filter__results--list[type="articles"] {
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	padding: 2rem 0rem;
	background-color: var(--background-color);
	opacity: 0;
	pointer-events: none;
}

.search__item {
	height: auto;
	padding: 0.5rem;
}

@media screen and (min-width: 725px) {
	.search__item {
		padding: 1rem;
	}
}

.search__item.article {
	width: calc(100% / 3);
}

@media screen and (max-width: 750px) {
	.search__item.article {
		width: 100%;
	}
}

.search__item-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
	gap: 0.5rem;
}

.search__item-container * {
	color: var(--body-text-color);
	font-size: var(--small-font-size);
}

.search__item__picture,
.search__item__picture img {
	width: 100%;
	aspect-ratio: 1;
}
.search__item__picture img,
.search__item__picture .placeholder {
	border-radius: var(--global-border-radius);
}

.search__item__picture.article,
.search__item__picture.article img {
	aspect-ratio: 1.4;
}

.search__item__picture {
	position: relative;
}

.search__item__tag {
	position: absolute;
	z-index: 1;
	top: 5px;
	right: 5px;
}

.search__item__tag .tag-text {
	font-size: var(--xxsmall-font-size);
}

.quick-view-button {
	position: absolute;
	z-index: 1;
	right: 0;
	bottom: 0;
}

.search__item__name {
	color: var(--body-text-color);
	font-size: var(--small-font-size);
	text-align: center;
}

.search__item__prices {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	gap: 0.5rem;
}

.search__container .active {
	opacity: 1;
	pointer-events: all !important;
	transition: all 0.5s ease-in-out;
}

.search__container .hidden {
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s ease-in-out;
}
