.blog {
	width: 100%;
	height: auto;
	margin-top: 130px;
}
.blog__container {
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (min-width: 750px) {
	.blog__container {
		width: 1600px;
		max-width: 100%;
	}
}

.blog__title {
	text-align: center;
	padding: 4rem;
}

.blog__articles {
	padding: 0.5rem;
}

@media screen and (min-width: 750px) {
	.blog__articles {
		padding: 1rem;
		width: 100%;
	}
}

.blog__articles__container {
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	padding: 1rem 0;
}

.blog__article {
	width: 100%;
	padding: 0.5rem;
}

@media screen and (min-width: 750px) {
	.blog__article {
		padding: 1rem;
	}
}

.blog__article__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

.blog__article__image {
	width: 100%;
	overflow: hidden;
	border-radius: var(--global-border-radius);
}

.blog__article__image img {
	width: 100%;
	height: 100%;
	transition: all 5s ease;
}

.blog__article__image img:hover {
	transform: scale(1.05);
	transition: all 5s ease;
}

.collage .blog__article:first-of-type {
	width: 100%;
}

.blog__article__publication-date {
	font-size: var(--xsmall-font-size);
	color: var(--secondary-text-color);
}
