.main-404 {
	width: 100%;
	height: auto;
	margin-top: var(--page-top-space);
}

.main-404__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
	padding: 1rem;
	margin-right: auto;
	margin-left: auto;
	gap: 2rem;
}

@media screen and (min-width: 750px) {
	.main-404__container {
		width: var(--page-width);
		max-width: 100%;
		padding: 2rem;
	}
}

.main-404__container .search-form__container {
	width: 400px;
}

.main-404__container .buttons {
	width: 200px;
}

@media screen and (min-width: 750px) {
	.main-404__container .buttons {
		width: 250px;
	}
}
