.page {
	width: 100%;
	height: auto;
	margin-top: var(--page-top-space);
}

.page__container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
	min-height: 400px;
	gap: 1rem;
}

@media screen and (min-width: 750px) {
	.page__container {
		max-width: 100%;
		min-height: 500px;
		padding: 2rem;
		margin: 0 auto;
	}
}
