.main-product-tabs {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-product-tabs .product-page__tabs {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.2rem;
	padding: 0.03rem;
	max-width: 100%;
}

@media screen and (min-width: 1024px) {
	.main-product-tabs .product-page__tabs {
		width: 1600px;
	}
}

.main-product-tabs .product-page__tab {
	cursor: pointer;
	width: 100%;
}

.main-product-tabs .product-page__tab.active .product-page__title-svg {
	transform: rotate(180deg);
}

.main-product-tabs .product-page__tab-title {
	height: 2.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #222;
}

.main-product-tabs .product-page__tab-title-text {
	padding-left: 0.5rem;
	font-size: var(--font-size);
}

.main-product-tabs .product-page__tab-title-svg {
	transition: all 0.2s ease-in-out;
	transform: rotate(360deg);
}

.main-product-tabs .product-page__tab-content {
	overflow: hidden;
	transition: all 0.2s ease-in-out;
	padding-left: 1rem;
	padding-right: 1rem;
}
