.product-page {
	padding-right: 1rem;
	padding-left: 1rem;
	display: flex;
	justify-content: center;
}

.product-page__price--actual {
	font-size: 1.5rem;
}

.product-page__container {
	display: flex;
	flex-direction: column;
}

@media screen and (min-width: 750px) {
	.product-page__container {
		padding: 1rem;
	}
}

@media screen and (min-width: 1024px) {
	.product-page__container {
		width: var(--page-width);
	}
}

.product-page__content {
	display: flex;
	flex-direction: column;
}

@media screen and (min-width: 1024px) {
	.product-page__content {
		flex-direction: row;
		padding: 1rem 5rem;
		justify-content: space-around;
	}
}

.product-page__payment-methods {
	padding: 0.5rem;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 0.2rem;
}

.product-page__pictures {
	height: 100%;
	padding: 1rem 0rem;
	display: grid;
	align-items: flex-start;
}

.product-page__pictures.zoom-in .product-page__pictures-place-protector,
.product-page__pictures.zoom-in .product-page-slider__thumbnails-container {
	display: none;
}

.product-page__pictures .product-page__close {
	display: none;
}

.product-page__pictures.zoom-in .product-page__close {
	display: block;
	position: absolute;
	cursor: pointer;
	top: 20px;
	right: 20px;
	z-index: 200;
	transform: scale(1.5);
}

@media screen and (min-width: 1024px) {
	.product-page__pictures.zoom-in .product-page__close {
		display: block;
		top: 30px;
		right: 30px;
	}
}

.product-page__pictures.zoom-in .zoom-icon {
	display: none;
}

@media screen and (min-width: 1024px) {
	.product-page__pictures.zoom-in product-page-slider {
		width: 800px;
	}
}

.product-page__pictures.zoom-in product-page-slider .product-page-slider__slides-container {
	width: 100%;
}

@media screen and (min-width: 1024px) {
	.product-page__pictures.zoom-in product-page-slider .next {
		transform: translate(200%);
	}
	.product-page__pictures.zoom-in product-page-slider .prev {
		transform: translate(-200%);
	}
}

.product-page__pictures.zoom-in .product-page-slider__indicators {
	height: auto !important;
	visibility: visible;
}

.product-page__pictures.zoom-in {
	position: fixed;
	z-index: 200;
	height: 100vh;
	width: 100vw;
	max-width: 100%;
	max-height: 100%;
	top: 0;
	left: 0;
	background-color: var(--background-color);
	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (min-width: 1024px) {
	.product-page__pictures {
		max-width: 650px;
		width: 50%;
		padding: 0rem;
	}
}

.product-page__pictures product-page-slider {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	width: 100%;
}

.product-page__pictures product-page-slider .product-page-slider {
	height: auto;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
}

@media screen and (max-width: 750px) {
	.product-page__pictures product-page-slider .product-page-slider {
		justify-content: space-evenly;
	}
}

.product-page__pictures product-page-slider .product-page-slider .prev,
.product-page__pictures product-page-slider .product-page-slider .next {
	justify-content: center;
	visibility: hidden;
	cursor: pointer;
	opacity: 0.5;
	display: flex;
	align-items: center;
	position: absolute;
	width: 50px;
	z-index: 4;
	padding: 1rem;
}

@media screen and (max-width: 750px) {
	.product-page__pictures product-page-slider .product-page-slider .prev,
	.product-page__pictures product-page-slider .product-page-slider .next {
		width: 10%;
	}
}

@media screen and (min-width: 750px) and (max-width: 1024px) {
	.product-page__pictures product-page-slider .product-page-slider .prev,
	.product-page__pictures product-page-slider .product-page-slider .next {
		width: 10%;
	}
}

.product-page__pictures product-page-slider .product-page-slider .prev:hover,
.product-page__pictures product-page-slider .product-page-slider .next:hover {
	opacity: 1;
}

.product-page__pictures product-page-slider .product-page-slider .prev {
	visibility: hidden;
	left: 12px;
}

@media screen and (min-width: 1024px) {
	.product-page__pictures product-page-slider .product-page-slider .prev {
		padding-right: 20px;
		justify-content: flex-end;
	}
}

.product-page__pictures product-page-slider .product-page-slider .next {
	right: 12px;
}

@media screen and (min-width: 1024px) {
	.product-page__pictures product-page-slider .product-page-slider .next {
		padding-left: 20px;
		justify-content: flex-start;
	}
}

.product-page__pictures product-page-slider .product-page-slider__slides-container {
	width: 90%;
	display: flex;
	justify-content: center;
	overflow: hidden;
	--item-width: calc(100% / var(--slider-items));
	position: relative;
}

@media screen and (max-width: 750px) {
	.product-page__pictures product-page-slider .product-page-slider__slides-container {
		--slider-items: var(--mobile-items);
	}
}

@media screen and (min-width: 750px) and (max-width: 1024px) {
	.product-page__pictures product-page-slider .product-page-slider__slides-container {
		--slider-items: var(--tablet-items);
	}
}

@media screen and (min-width: 1024px) {
	.product-page__pictures product-page-slider .product-page-slider__slides-container {
		--slider-items: var(--desktop-items);
	}
}

.product-page__pictures product-page-slider .product-page-slider__slides-container .slide {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	z-index: 1;
}

@media screen and (max-width: 1024px) {
	.product-page__pictures product-page-slider .product-page-slider__slides-container .slide {
		transition: all 0.5s cubic-bezier(0.45, 0.05, 0.55, 0.95);
	}
}

.product-page__pictures product-page-slider .product-page-slider__slides-container .slide .item {
	width: var(--item-width);
	min-width: var(--item-width);
	max-width: var(--item-width);
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: var(--global-border-radius);
}

.product-page__pictures product-page-slider .product-page-slider__slides-container .slide .item-picture {
	width: 100%;
	height: 100%;
	max-width: 100%;
	overflow: hidden;
}

.product-page__pictures product-page-slider .product-page-slider__slides-container .slide .item-picture > * {
	width: 100%;
	height: 100%;
}

.product-page__pictures product-page-slider .product-page-slider__indicators {
	display: flex;
	justify-content: center;
	height: auto;
	width: 100%;
}

.product-page__pictures product-page-slider .product-page-slider__indicators span {
	display: inline-block;
	background-color: var(--body-text-color);
	opacity: 0.5;
	width: 8px;
	height: 8px;
	cursor: pointer;
	margin: 0.5rem;
}

.product-page__pictures product-page-slider .product-page-slider__indicators span.active {
	opacity: 1;
}

.product-page__pictures product-page-slider .product-page-slider__thumbnails {
	display: flex;
	height: auto;
	flex-wrap: wrap;
	cursor: pointer;
}

.product-page__pictures product-page-slider .product-page-slider__thumbnails-container {
	width: 100%;
}

.product-page__pictures product-page-slider .product-page-slider__thumbnails .thumbnail {
	width: 25%;
	aspect-ratio: 1/1;
}

@media screen and (min-width: 750px) and (max-width: 1024px) {
	.product-page__pictures product-page-slider .product-page-slider__thumbnails .thumbnail {
		width: 20%;
	}
}

@media screen and (min-width: 1024px) {
	.product-page__pictures product-page-slider .product-page-slider__thumbnails .thumbnail {
		width: 16.6666666667%;
	}
}

.product-page__pictures product-page-slider .product-page-slider__thumbnails .thumbnail img {
	width: 95%;
	height: 95%;
	border-radius: var(--global-border-radius);
}

.product-page__pictures product-page-slider .product-page-slider__thumbnails .thumbnail-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.product-page__pictures product-page-slider .product-page-slider__thumbnails .active {
	box-sizing: border-box;
	border: 2px solid var(--body-text-color);
	border-radius: var(--global-border-radius);
	overflow: hidden;
}

.product-page product-page-slider,
.product-page .product-page__pictures-place-protector {
	grid-row: 1;
	grid-column: 1;
}

@media screen and (max-width: 750px) {
	.product-page .product-page__pictures-place-protector {
		aspect-ratio: 1;
		width: 100%;
	}
}

.product-page__info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1rem;
	height: auto;
}

@media screen and (min-width: 1024px) {
	.product-page__info {
		width: 550px;
		width: 40%;
	}
}

.product-page__prices {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 0.5rem;
}

.product-page__price {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
	gap: 0.7rem;
}

.product-page__tag {
	display: flex;
	max-height: 100px;
	opacity: 1;
	transition: all 0.5s cubic-bezier(0.75, 0, 0.175, 1);
}

.product-page__tag.hidden {
	opacity: 0;
	max-height: 0px;
	transition: all 0.5s cubic-bezier(0.75, 0, 0.175, 1);
}

.product-page__tag .tag-text {
	font-size: var(--xsmall-font-size);
}

.product-page__form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 100%;
}

.product-page__variants {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.product-page__hidden-variants {
	flex-direction: column;
	gap: 1rem;
}

.product-page__hidden-variants--pill {
	display: flex;
	flex-direction: column;
}

.product-page__hidden-variants--pill-container {
	display: flex;
	flex-wrap: wrap;
}

.product-page__hidden-variants--pill-container-input {
	display: flex;
	justify-content: center;
	align-items: center;
}

.product-page .selector-wrapper select {
	width: 100%;
}

.product-page .selector-wrapper label {
	font-size: var(--font-size);
	color: var(--body-text-color);
}

.product-page .shopify-payment-button__button--hidden {
	visibility: visible;
	color: var(--body-text-color);
	font-size: var(--xsmall-font-size);
	text-decoration: underline;
}

.product-page .selector-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 0.5rem;
	width: 100%;
}

.product-page__stock-disclaimer {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.product-page__stock-disclaimer__text {
	color: var(--error-text-color);
}

.product-page__buttons {
	display: flex;
	flex-direction: column;
}

.product-page__buttons .add-to-cart-button {
	cursor: pointer;
}

.product-page__buttons .add-to-cart-button.sold-out {
	pointer-events: none !important;
	background-color: var(--secondary-text-color);
	border-color: var(--secondary-text-color);
}

.product-page__buttons .add-to-cart-button.sold-out :after {
	content: "";
}

.product-page__buttons .dynamic-buy-button {
	height: 0px;
	opacity: 0;
	transition: all 0.5s cubic-bezier(0.75, 0, 0.175, 1);
}

.product-page__buttons .dynamic-buy-button.sold-out {
	height: 0px !important;
	opacity: 0 !important;
	pointer-events: none !important;
}

.product-page__buttons .dynamic-buy-button.loaded {
	transition: all 0.5s cubic-bezier(0.75, 0, 0.175, 1);
	opacity: 1;
}

.product-page__buttons .dynamic-buy-button .shopify-payment-button__more-options {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	margin: 0;
	padding-top: 0.5rem;
}

.product-page__trust-bar {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 0.2rem;
}

.product-page__trust-badge {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 0.2rem;
	width: 33%;
}

.product-page__trust-icon {
	display: flex;
	justify-content: center;
	align-items: center;
}

.product-page__trust-text {
	font-size: var(--xxxsmall-font-size);
}

@media screen and (min-width: 750px) {
	.product-page__trust-text {
		font-size: var(--xsmall-font-size);
	}
}

.product-page__recommended-products-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	gap: 1rem;
}

.product-page__recommended-product-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
}

.product-page__recommended-product-container {
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100px;
	gap: 0.3rem;
}

@media screen and (min-width: 1024px) {
	.product-page__recommended-product-container {
		width: 30%;
	}
}

.product-page__recommended-product {
	position: relative;
	width: 100px;
	height: 100px;
}

.product-page__recommended-product .media > * {
	border-radius: var(--global-border-radius);
}

@media screen and (min-width: 1024px) {
	.product-page__recommended-product {
		width: 125px;
		height: 125px;
	}
}

.product-page__recommended-product .quick-view-button {
	position: absolute;
	bottom: 0;
	right: 0;
}

.product-page__recommended-product-title {
	text-align: center;
	color: var(--body-text-color);
	font-size: var(--xsmall-font-size);
}

.product-page__radios {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.product-page__radios-container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	border: 0px;
	padding: 0px;
}

.product-page__color-select-content {
	display: flex;
	flex-direction: column;
}

.product-page__radio__content {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
}

.product-page__radio__label {
	position: relative;
	cursor: pointer;
	padding: 1rem;
	border: 1px solid var(--secondary-text-color);
	border-radius: var(--global-border-radius);
}

.product-page__radio__label.checked {
	border: 2px solid var(--body-text-color);
}

.product-page__radio__label.variant_image {
	width: 80px;
	height: 80px;
	overflow: hidden;
	padding: 0;
}

.product-page__radio__label.color_swatch {
	width: 35px;
	height: 35px;
	overflow: hidden;
	padding: 0;
}

.product-page__radio__input {
	display: none;
}

.product-page-slider__slides-container .item {
	aspect-ratio: 1;
}

@media screen and (max-width: 1024px) {
	.product-page-slider__thumbnails.indicators-mobile {
		height: 0 !important;
		visibility: hidden;
	}
}
@media screen and (min-width: 1024px) {
	.product-page-slider__indicators.indicators-mobile {
		height: 0 !important;
		visibility: hidden;
	}
}

.product-page-slider__indicators.thumbnails-mobile {
	height: 0 !important;
	visibility: hidden;
}
.product-page-slider.thumbnails-mobile .prev,
.product-page-slider.thumbnails-mobile .next {
	opacity: 0 !important;
}
.product-page-slider__slides-container.thumbnails-mobile .slide,
.product-page-slider__slides-container.thumbnails-mobile .slide .item {
	transition: none !important;
	opacity: 1 !important;
}
