.loading-bar {
	position: absolute;
	z-index: 200;
	left: 0;
	width: 0%;
	height: 5px;
	background-color: var(--accent-color-1);
}

.loading-bar.show {
	width: 80%;
	transition: all 6s linear;
}

.loading-bar.end {
	width: 100%;
	transition: all 0.5s linear;
}

/* ANCHOR: HEADER  */
.header {
	position: relative;
	z-index: 2;
}

.header-section {
	z-index: 110;
	width: 100%;
}

@media screen and (max-width: 750px) {
	.header-section.bottom {
		bottom: 0px;
	}
}

.header-section.boxed {
	position: absolute;
	padding: 8px;
}

.header-section.sticky {
	position: fixed;
	top: 0;
}

.header-section.higher-layer {
	z-index: 102;
}

.header-container {
	z-index: 5;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.header-container {
	overflow: hidden;
}

.header-container:has(.announcement.reveal) {
	-webkit-animation: 1s removeOverflow forwards;
	animation: 1s removeOverflow forwards;
}

@-webkit-keyframes removeOverflow {
	0% {
		overflow: hidden;
	}
	100% {
		overflow: visible;
	}
}

@keyframes removeOverflow {
	0% {
		overflow: hidden;
	}
	100% {
		overflow: visible;
	}
}

.header__content {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: auto;
	min-height: 55px;
	padding: 10px 10px;
	gap: 1rem;
}

@media screen and (min-width: 750px) and (max-width: 1024px) {
	.header__content {
		min-height: 70px;
		padding: 10px 20px;
	}
}

@media screen and (min-width: 1024px) {
	.header__content {
		padding: 0px 30px;
	}
}

.header__logo {
	display: flex;
}

.header__logo-container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	overflow: hidden;
	max-width: 250px;
	max-height: 50px;
}

.header__menu {
	justify-content: flex-start;
	padding: 0;
}

.header__menu__content {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	list-style: none;
}

.header__menu__content > * {
	pointer-events: none;
	-webkit-animation: 1s removePointerEvents 1s forwards;
	animation: 1s removePointerEvents 1s forwards;
}

@-webkit-keyframes removePointerEvents {
	0% {
		pointer-events: none;
	}
	100% {
		pointer-events: all;
	}
}

@keyframes removePointerEvents {
	0% {
		pointer-events: none;
	}
	100% {
		pointer-events: all;
	}
}

@media screen and (max-width: 1024px) {
	.header__menu__content {
		display: none;
	}
}

.header__menu__content.hidden {
	display: none;
}

.header__icons {
	display: flex;
	flex-direction: row;
	order: 3;
	justify-content: center;
	justify-content: flex-end;
	gap: 0.5rem;
}

.header__icons-search,
.header__icons-drawer,
.header__icons-cart {
	cursor: pointer;
}

.header__icons-cart__item-count {
	position: absolute;
	top: 13px;
	right: -2px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 15px;
	height: 15px;
	background-color: var(--accent-color-1);
	color: black;
	font-size: var(--xxsmall-font-size);
	font-weight: bold;
	border-radius: 50%;
	opacity: 1;
	transition: all 0.5s ease-in-out;
}

.header__icons-cart__item-count.hidden {
	opacity: 0;
	transition: all 0.5s ease-in-out;
}

@media screen and (min-width: 750px) {
	.header__icons {
		gap: 1rem;
	}
}

@media screen and (max-width: 1024px) {
	.header__icons-account {
		display: none;
	}
}

@media screen and (min-width: 1024px) {
	.header__icons-drawer.hidden {
		display: none;
	}
}

@media screen and (min-width: 1024px) {
	.header__logo,
	.header__icons,
	.header__menu {
		flex-shrink: 1;
		flex-basis: 0px;
	}

	.header__logo,
	.header__icons {
		flex-grow: 1;
	}

	.header__menu {
		flex-grow: 4;
	}
}

@media screen and (max-width: 1024px) {
	.header__logo {
		justify-content: center;
	}

	.header__logo {
		order: 2;
	}

	.header__menu {
		order: 1;
	}

	.header__logo {
		flex: 3 1 0px;
	}

	.header__menu,
	.header__icons {
		flex: 1 1 0px;
	}
}

/* ANCHOR: Menu */

.menu__parent {
	padding: 1.8rem 0rem;
}

@media screen and (min-width: 1024px) {
	.menu__parent {
		padding: 1.8rem 1rem;
	}
}

@media screen and (min-width: 1441px) {
	.menu__parent {
		padding: 1.8rem 2rem;
	}
}

.menu__parent-title {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	font-weight: bold;
	text-align: center;
}

.menu__parent-title:before {
	content: "";
	position: absolute;
	top: 120%;
	left: 0;
	width: 100%;
	height: 3px;
	background: var(--accent-color-1);
	transform-origin: left bottom;
	transform: scaleX(0);
	transition: transform 0.2s cubic-bezier(0.75, 0, 0.175, 1);
}

.menu__parent-title.filled:after {
	position: absolute;
	left: 100%;
	padding: 0.5rem;
}

.menu__dropdown {
	position: absolute;
	z-index: -1;
	top: 100%;
	height: 0px;
	opacity: 0;
	transform: translateY(-10%);
	pointer-events: none;
	transition: all 0.2s cubic-bezier(0.75, 0, 0.175, 1);
}

.menu__dropdown-content {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	overflow: hidden;
	height: auto;
}

.menu__childs {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	height: 100%;
	margin: 1rem 0;
}

.menu__child-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
	padding: 0.2rem;
}

.menu__child {
	display: flex;
	align-items: center;
	width: 100%;
	min-width: 300px;
	height: 66.4px;
	padding: 0rem 1rem;
	gap: 0.6rem;
}

.menu__child:hover {
	background-color: var(--secondary-background-color);
}

.menu__child-title {
	position: relative;
}

.menu__child.filled:after {
	position: absolute;
	right: 15px;
	color: var(--body-text-color);
}

.menu__content {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 400px;
	height: 100%;
	padding: 1rem;
	gap: 1rem;
	opacity: 0;
	pointer-events: none;
}

.menu__content .menu__picture {
	width: 300px;
	height: 200px;
}

.menu__content .menu__description {
	text-align: center;
}

.menu__grandchilds {
	position: absolute;
	top: 0;
	left: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
	min-width: 300px;
	height: auto;
	padding: 1rem 2rem;
	opacity: 0;
	pointer-events: none;
	gap: 0.5rem;
}

.menu__grandchild {
	font-size: var(--small-font-size);
	font-weight: 100;
	opacity: 1;
	transition: opacity 0.1s ease;
}

.menu__grandchild:hover {
	opacity: 0.7;
}

.menu__child:hover .menu__grandchilds,
.menu__child:hover .menu__content {
	pointer-events: all;
	opacity: 1;
}

.menu__parent:hover .menu__parent-title:before {
	transform: scaleX(1);
	transition: transform 0.2s cubic-bezier(0.75, 0, 0.175, 1);
}

.menu__parent:hover .menu__dropdown {
	opacity: 1;
	z-index: 1;
	height: auto;
	transform: translateY(0%);
	pointer-events: all;
	transition: all 0.2s cubic-bezier(0.75, 0, 0.175, 1);
}

.menu__parent:hover .menu__childs:not(:hover) .menu__child:nth-child(1) {
	background-color: var(--secondary-background-color);
}

.menu__parent:hover .menu__childs:not(:hover) .menu__child:nth-child(1) .menu__grandchilds,
.menu__parent:hover .menu__childs:not(:hover) .menu__child:nth-child(1) .menu__content {
	pointer-events: all;
	opacity: 1;
}

.menu-mobile {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.menu-mobile__container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: inherit;
	height: inherit;
}

.menu-mobile__head {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem;
}

.menu-mobile__content {
	overflow-x: auto;
	height: 100%;
	padding: 1rem 2rem;
}

.menu-mobile__parents {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
}

.menu-mobile__parent {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	width: 100%;
}

.menu-mobile__parent-title {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	cursor: pointer;
}

.menu-mobile__parent-title h6 {
	flex-grow: 1;
	font-size: var(--font-size);
}

.menu-mobile__parent-title .svg {
	transition: all 0.2s ease-in-out;
	transform: rotate(359deg);
}

.menu-mobile__parent-childs {
	display: flex;
	flex-direction: column;
	height: 0;
	transition: height 0.2s cubic-bezier(0.75, 0, 0.175, 1);
}

.menu-mobile__parent-childs.active {
	transition: height 0.2s cubic-bezier(0.75, 0, 0.175, 1);
}

.menu-mobile__child {
	width: 100%;
}

.menu-mobile__child-title {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0.7rem 0.7rem 0.7rem 1rem;
	font-weight: 600;
	cursor: pointer;
}

.menu-mobile__child-title .text {
	flex-grow: 1;
	padding-left: 0.5rem;
}

.menu-mobile__child-title .svg {
	transition: all 0.2s ease-in-out;
	transform: rotate(359deg);
}

.menu-mobile__child-childs {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	height: 0;
	margin-left: 1rem;
	transition: height 0.2s cubic-bezier(0.75, 0, 0.175, 1);
}

.menu-mobile__child-childs.active {
	transition: height 0.2s cubic-bezier(0.75, 0, 0.175, 1);
}

.menu-mobile__grandchild {
	width: 100%;
}

.menu-mobile__grandchild-title {
	padding: 0.5rem 0.5rem 0.5rem 1rem;
}

.menu-mobile__picture-container {
	display: flex;
	flex-direction: column;
	padding: 1rem 0;
	gap: 0.5rem;
}

.menu-mobile__picture {
	height: 150px;
}

.menu-mobile__picture-description {
	text-align: center;
}

.menu-mobile__picture > * {
	width: 80%;
}

.menu-mobile__account-container {
	position: relative;
	padding: 1rem;
}

.menu-mobile__account {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	align-items: center;
	padding-top: 1rem;
}

.menu-mobile__parent:has(.menu-mobile__parent-childs.active) .menu-mobile__parent-title .svg {
	transition: all 0.2s ease-in-out;
	transform: rotate(180deg);
}

.menu-mobile__child:has(.menu-mobile__child-childs.active) .menu-mobile__child-title .svg {
	transition: all 0.2s ease-in-out;
	transform: rotate(180deg);
}
