.footer__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: var(--page-width);
	max-width: 100%;
	height: auto;
	margin: 0 auto;
	gap: 3rem;
}

@media screen and (max-width: 750px) {
	.footer__container {
		padding: 1rem;
	}
}

@media screen and (min-width: 750px) and (max-width: 1440px) {
	.footer__container {
		padding: 1.5rem;
	}
}

@media screen and (min-width: 1440px) {
	.footer__container {
		padding: 2rem;
	}
}

.footer__content {
	display: grid;
	grid-gap: 3rem;
	width: 100%;
	height: auto;
}

@media screen and (max-width: 750px) {
	.footer__content {
		grid-template-columns: 1fr 1fr;
		justify-content: space-between;
	}
}

@media screen and (min-width: 750px) and (max-width: 1440px) {
	.footer__content {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media screen and (min-width: 1440px) {
	.footer__content {
		grid-template-columns: none;
		grid-auto-flow: column;
		justify-content: space-between;
	}
}

.footer__item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1.5rem;
}

.footer__item-content {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

@media screen and (max-width: 750px) {
	.footer__logo {
		grid-column: span 2;
	}
}

@media screen and (min-width: 750px) and (max-width: 1440px) {
	.footer__logo {
		grid-column: span 3 / auto;
	}
}

.footer__information-item {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.footer__information-item a {
	text-decoration: underline;
}

.footer__social-media-icons {
	display: flex;
	flex-wrap: wrap;
}

.footer__newsletter {
	padding: 0rem;
}

@media screen and (max-width: 750px) {
	.footer__newsletter {
		grid-column: span 2;
	}
}

@media screen and (min-width: 750px) and (max-width: 1440px) {
	.footer__newsletter {
		grid-column: span 2;
	}
}

.footer__newsletter .newsletter__text {
	text-align: left;
}

.footer__newsletter .newsletter__form {
	width: 100%;
}

.footer__bottom {
	display: grid;
	grid-gap: 1rem;
	width: 100%;
	height: auto;
}

@media screen and (max-width: 750px) {
	.footer__bottom {
		grid-template-columns: 1fr;
	}
}

@media screen and (min-width: 750px) and (max-width: 1440px) {
	.footer__bottom {
		grid-template-columns: 1fr;
	}
}

@media screen and (min-width: 1440px) {
	.footer__bottom {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

.footer__payment-methods {
	display: flex;
	flex-wrap: wrap;
	gap: 0.2rem;
}

@media screen and (min-width: 1440px) {
	.footer__payment-methods {
		justify-content: center;
	}
}

@media screen and (min-width: 1440px) {
	.footer__powered-by {
		text-align: right;
	}
}

.footer__localization {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
}
