.popup {
	position: fixed;
	z-index: 98;
	display: none;
	justify-content: center;
	align-items: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: var(--global-border-radius);
	overflow: hidden;
}

@media screen and (max-width: 1024px) {
	.popup {
		height: 50%;
		width: 100%;
	}
}

.popup__container {
	max-height: 100%;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-width: 0px;
}

@media screen and (max-width: 1024px) {
	.popup__container {
		margin: 0 1rem;
	}
}

@media screen and (min-width: 1024px) {
	.popup__container {
		flex-direction: row;
		height: 400px;
		width: 800px;
	}
}

.popup__container.active {
	opacity: 1;
	transform: translateX(0);
	transition: all 1s cubic-bezier(0.75, 0, 0.175, 1);
}

@media screen and (min-width: 1024px) {
	.popup__container.active {
		transform: translateY(0);
	}
}

.popup__container.hidden {
	opacity: 0;
	transform: translateX(10%);
	transition: all 0.3s cubic-bezier(0.75, 0, 0.175, 1);
}

@media screen and (min-width: 1024px) {
	.popup__container.hidden {
		transform: translateY(10%);
	}
}

.popup__container.border {
	transition-delay: 2s;
	transition: all 0.5s ease-in-out;
}

.popup__picture {
	z-index: 101;
	transform: translateY(50%);
}

@media screen and (max-width: 1024px) {
	.popup__picture {
		display: none;
	}
}

@media screen and (min-width: 1024px) {
	.popup__picture {
		transform: translateX(50%);
	}
}

.popup__content {
	position: relative;
	z-index: 100;
}

@media screen and (max-width: 1024px) {
	.popup__content::before {
		background-size: cover;
		background-position: center;
		content: " ";
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 1;
		background-repeat: no-repeat;
		background-position: 50% 0;
		opacity: 0.6;
	}
}

@media screen and (min-width: 1024px) {
	.popup__content {
		transform: translateY(-50%);
		transform: translateX(-50%);
	}
}

.popup__content .newsletter {
	position: relative;
	padding: 0 1rem;
	height: 100%;
	gap: 1rem;
}

.popup__content .newsletter .link {
	cursor: pointer;
}

@media screen and (max-width: 1024px) {
	.popup__content .newsletter .link {
		color: var(--body-text-color);
	}
}

.popup__content input {
	height: 34px;
}

.popup__picture,
.popup__content {
	height: 100%;
	width: 100%;
}

@media screen and (min-width: 1024px) {
	.popup__picture,
	.popup__content {
		height: 100%;
		width: 50%;
	}
}

.popup__picture.slide-in,
.popup__content.slide-in {
	transform: translateY(0%);
	transition: transform 0.8s cubic-bezier(0.75, 0, 0.175, 1);
}

@media screen and (min-width: 1024px) {
	.popup__picture.slide-in,
	.popup__content.slide-in {
		transform: translateX(0%);
	}
}

.popup__close {
	position: relative;
	z-index: 102;
}

.popup__close:after {
	position: absolute;
	top: 0px;
	right: 0px;
	content: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.43359 18.5L18.4336 6.5' stroke='white' stroke-width='1.5'/%3E%3Cpath d='M6.43359 6.5L18.4336 18.5' stroke='white' stroke-width='1.5'/%3E%3C/svg%3E%0A");
	cursor: pointer;
	padding: 0.3rem;
}

.popup__container:not(:has(.popup__picture)) .popup__content {
	width: 100%;
	transform: translate(0, 0);
}

.popup .form__messages__success {
	padding: 0rem;
}
.popup .form__messages__success span {
	padding: 1rem;
}

.popup__link {
	cursor: pointer;
	text-align: center;
}
