.search-drawer {
	position: fixed;
	z-index: 100;
	right: 0px;
	bottom: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	transform: translateX(120%);
}

body:has(.header-section.boxed) .search-drawer {
	padding: 8px;
}

@media screen and (min-width: 1024px) {
	.search-drawer {
		max-width: 500px;
	}
}

.search-drawer.active {
	transform: translateX(0);
	transition: transform 1s cubic-bezier(0.75, 0, 0.175, 1);
}

.search-drawer.hidden {
	transform: translateX(120%);
	transition: transform 1s cubic-bezier(0.75, 0, 0.175, 1);
}

.search-drawer__container {
	z-index: 100;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	padding: 1rem;
	gap: 0.3rem;
}

.search-drawer__container .buttons {
	position: relative;
	height: 0;
	transition: all 0.3s ease-in;
}

.search-drawer__container .buttons.hidden {
	opacity: 0;
	transition: all 0.3s ease-in;
}

.search-drawer__container .buttons .button {
	width: 100%;
}

.search-drawer__container .preload {
	top: 70px;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	overflow: auto;
	width: 100%;
	padding: 0.5rem;
	gap: 1.2rem;
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
}

.search-drawer__container .preload.hidden {
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

.search-drawer__container .preload .group {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.search-drawer__container .preload .group > h6 {
	font-size: var(--xsmall-font-size);
}

.search-drawer__container .preload .group > a {
	font-size: var(--xsmall-font-size);
	font-weight: 100;
	text-transform: capitalize;
}

.search-drawer__container .search-drawer__close {
	position: absolute;
	top: 5px;
	right: 0;
	cursor: pointer;
}

.search-drawer__container .search-form__container {
	max-width: 100%;
}

.search-drawer__container input {
	width: 100%;
	border: 0px;
	border-bottom: 2px solid var(--body-text-color);
	background-color: transparent;
	border-bottom-left-radius: 0px !important;
}

.search-drawer__container .search-form__results {
	flex-grow: 1;
	overflow: auto;
	background-color: transparent;
	opacity: 1;
	transition: opacity 0.3s ease-in;
	transition: all 0.3s ease-in;
}

.search-drawer__container .search-form__results.hidden {
	opacity: 0;
	transition: all 0.3s ease-in;
}

.search-drawer__container .search-results__results-list {
	padding-top: 0.5rem;
	border: 0px;
}

.search-drawer__container .search-form__input::-webkit-search-cancel-button {
	opacity: 0 !important;
}

.search-form__container .buttons {
	min-height: 48px;
}
