.cart-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
}

.cart-page__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: var(--page-width);
	max-width: 100%;
	padding: 1rem;
	gap: 2rem;
}

.cart-page__container form {
	width: 100%;
}

@media screen and (min-width: 750px) {
	.cart-page__container {
		padding: 2rem;
	}
}

.cart-page__content {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 2rem;
}

@media screen and (min-width: 1024px) {
	.cart-page__content {
		flex-direction: row;
	}
}

.cart-page__content-inner {
	flex-grow: 10;
}

.cart-page__content-head {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 1rem 0rem;
	border-bottom: 0.5px solid var(--body-text-color);
}

.cart-page__products {
	display: flex;
	flex-direction: column;
	padding: 1rem 0rem;
	gap: 1rem;
}

.cart-page__product-variant {
	color: var(--secondary-text-color);
}

.cart-page__stock-disclaimer {
	color: var(--error-text-color);
}

@media screen and (min-width: 750px) {
	.cart-page__content-head__product {
		width: 70%;
	}

	.cart-page__content-head__quantity {
		width: 20%;
	}

	.cart-page__content-head__price {
		width: 10%;
	}
}

@media screen and (max-width: 750px) {
	.cart-page__content-head__quantity,
	.cart-page__product-quantity--desktop {
		display: none;
	}
}

@media screen and (min-width: 750px) {
	.cart-page__product-quantity--mobile {
		display: none;
	}
}

.cart-page__product-quantity--mobile .quantity {
	flex-direction: row;
	justify-content: space-between;
}

.cart-page__content-head__price {
	text-align: end;
}

.cart-page__product {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
}

@media screen and (max-width: 750px) {
	.cart-page__product {
		justify-content: space-between;
	}
}

.cart-page__product-details {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
}

@media screen and (min-width: 750px) {
	.cart-page__product-details {
		gap: 1rem;
	}
}

@media screen and (min-width: 750px) {
	.cart-page__product-details {
		width: 70%;
	}

	.cart-page__product-quantity--desktop {
		width: 20%;
	}

	.cart-page__product-prices {
		width: 10%;
	}
}

.cart-page__product-info,
.cart-page__product-info__inner {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.cart-page__product-quantity--desktop .quantity {
	flex-direction: row;
	justify-content: flex-start;
}

.cart-page__product-prices {
	font-size: calc(var(--font-size-type-scale) / var(--font-type-scale) * 1px);
	text-align: end;
}

.quantity-field__product-remove,
.quantity-field__product-remove--mobile {
	cursor: pointer;
}

@media screen and (max-width: 750px) {
	.cart-page__product-prices {
		display: flex;
		flex-direction: row;
		gap: 0.3rem;
	}

	.quantity-field__product-remove--mobile {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-end;
		height: 100%;
	}
}

@media screen and (min-width: 750px) {
	.quantity-field__product-remove--mobile {
		cursor: pointer;
		display: none;
	}
}

.cart-page__product-picture {
	min-width: 75px;
	max-width: 75px;
	max-width: 75px;
	height: 75px;
	border-radius: var(--global-border-radius);
	overflow: hidden;
}

@media screen and (min-width: 750px) {
	.cart-page__product-picture {
		min-width: 100px;
		max-width: 100px;
		max-width: 100px;
		height: 100px;
	}
}

.cart-page__product-picture > * {
	width: 100%;
	height: 100%;
}

.cart-page__interaction {
	flex-grow: 1;
	position: relative;
}

@media screen and (max-width: 1024px) {
	.cart-page__interaction {
		position: fixed;
		bottom: 0;
		width: 100%;
		right: 0;
		padding: 8px;
		z-index: 100;
	}

	.cart-page__interaction-inner {
		border: var(--button-border-width) solid var(--body-text-color);
	}

	.cart-page__interaction .shadow-divider {
		top: 8px;
	}
}

.cart-page__interaction-top-text,
.cart-page__interaction-bottom-text {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

@media screen and (max-width: 750px) {
	.cart-page__interaction-bottom-text {
		flex-direction: column-reverse;
		gap: 0.5rem;
	}
}

.cart-page__interaction-inner {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 1rem;
	gap: 1rem;
	background-color: var(--secondary-background-color);
	border-radius: var(--global-border-radius);
}

.cart-page__interaction-inner .cart-drawer__note-popup {
	bottom: 0;
	right: 0;
}

@media screen and (min-width: 1024px) {
	.cart-page__interaction-inner .cart-drawer__note-popup {
		top: 0;
		bottom: unset;
	}
}

@media screen and (min-width: 750px) {
	.cart-page__interaction-inner {
		padding: 2rem;
	}
}

.cart-page__button,
.cart-page__button > button {
	width: 100%;
}

.cart-page__order-note {
	cursor: pointer;
	text-decoration: underline;
}

.cart-page__order-note,
.cart-page__checkout-disclaimer {
	color: var(--secondary-text-color);
}

.cart-page__empty-state {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	justify-content: center;
	align-items: center;
}

.cart-page {
	padding-top: var(--page-top-space);
}

@media screen and (min-width: 750px) {
	.cart-page {
		padding-top: var(--page-top-space);
	}
}

.cart-page.empty-state {
	padding-top: calc(150px + var(--page-top-space));
	padding-bottom: 150px;
}

@media screen and (min-width: 750px) {
	.cart-page.empty-state {
		padding-top: calc(200px + var(--page-top-space));
		padding-bottom: 200px;
	}
}
