.multi-icon {
        &__icon {
                width: 100%;
                aspect-ratio: 1/1;
                display: flex;
                justify-content: center;
                align-items: center;
                > * {
                        width: 50%;
                        height: 50%;
                }
        }
        &__text {
                text-align: center;
        }

        .item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                aspect-ratio: 1/1;
        }
}
