.multi-icon {
        &__icon {
                height: 100px;
                width: auto;

                display: flex;
                justify-content: center;
                align-items: center;
        }
        &__text {
                text-align: center;
        }

        .item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-bottom: auto;
        }
}
