.multi-icon__icon {
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.multi-icon__icon > * {
  width: 50%;
  height: 50%;
}
.multi-icon__text {
  text-align: center;
}
.multi-icon .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
}