.multi-icon {
        width: 100vw;
        height: auto;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        gap: 0.5rem;
        padding: 20px 0;

        .wrap {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 30px 0px;
                .prev {
                        visibility: "hidden";
                }
        }

        &__container {
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: flex-start;
                overflow-x: auto;

                @media screen and (max-width: 750px) {
                        max-width: 100%;
                }

                &::-webkit-scrollbar {
                        width: 0;
                }
        }

        &__icon {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: auto;
                width: auto;
                max-width: 100px;
                .icon {
                        height: 100px;
                        width: 100px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                }
                .text {
                        text-align: center;
                }
        }
}
