.multi-icon {
  width: 100vw;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  gap: 0.5rem;
  padding: 20px 0;
}
.multi-icon__container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  overflow-x: auto;
}
.multi-icon__container::-webkit-scrollbar {
  width: 0;
}
.multi-icon__icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  max-width: 100px;
}
.multi-icon__icon .icon {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.multi-icon__icon .text {
  text-align: center;
}

.chevrons .prev {
  display: none;
}