.multi-icon__icon {
  height: 100px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.multi-icon__text {
  text-align: center;
}
.multi-icon .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: auto;
}