.multi-icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__icon {
                height: 100px;
                width: auto;

                display: flex;
                justify-content: center;
                align-items: center;
        }
        &__text {
                text-align: center;
        }

        .item > * {
                max-width: 95%;
        }
}
