.slider-component {
        height: auto;
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        @media screen and (max-width: 750px) {
                justify-content: space-evenly;
        }

        .prev,
        .next {
                justify-content: center;
                visibility: hidden;
                height: 170px;
                width: 100%;
                cursor: pointer;
                opacity: 0.5;
                display: flex;
                align-items: center;
                &:hover {
                        opacity: 1;
                }
                @media screen and (max-width: 350px) {
                        height: 100px;
                }
                @media screen and (min-width: 350px) and (max-width: 750px) {
                        height: 150px;
                }

                @media screen and (min-width: 750px) and (max-width: 1024px) {
                        height: 200px;
                }

                @media screen and (min-width: 1024px) {
                        height: 230px;
                }
        }

        .prev {
                visibility: "hidden";

                @media screen and (max-width: 750px) {
                        left: 12px;
                }
                @media screen and (min-width: 1024px) {
                        padding-right: 20px;
                        justify-content: flex-end;
                }
        }

        .next {
                @media screen and (max-width: 750px) {
                        right: 12px;
                }
                @media screen and (min-width: 1024px) {
                        padding-left: 20px;
                        justify-content: flex-start;
                }
        }

        .slider-container {
                max-width: 80%;
                width: 100%;
                overflow: hidden;
                display: flex;
                justify-content: flex-start;

                .slider {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;
                        z-index: 1;
                        transition: all 0.5s cubic-bezier(0.45, 0.05, 0.55, 0.95);

                        @media screen and (min-width: 751px) {
                                transition: all 0.8s cubic-bezier(0.45, 0.05, 0.55, 0.95);
                        }

                        .item {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;

                                @media screen and (max-width: 350px) {
                                        width: 65px;
                                        max-width: 65px;
                                        min-width: 65px;
                                }

                                @media screen and (min-width: 350px) and (max-width: 750px) {
                                        width: 100px;
                                        max-width: 100px;
                                        min-width: 100px;
                                }

                                @media screen and (min-width: 750px) and (max-width: 1024px) {
                                        width: 100px;
                                        max-width: 100px;
                                        min-width: 100px;
                                }

                                @media screen and (min-width: 1024px) {
                                        width: 100px;
                                        max-width: 100px;
                                        min-width: 100px;
                                }
                        }
                }
        }
}

.multi-icon__icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        width: auto;
        max-width: 100px;
        .icon {
                height: 100px;
                width: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
        }
        .text {
                text-align: center;
        }
}
