.image-with-text {
	display: flex;
	align-items: center;
	overflow: hidden;
}
.image-with-text--first {
	flex-direction: column;
}
.image-with-text--second {
	flex-direction: column-reverse;
}
@media screen and (min-width: 750px) {
	.image-with-text {
		height: auto;
	}
	.image-with-text--first {
		flex-direction: row;
	}
	.image-with-text--second {
		flex-direction: row-reverse;
	}
}

.image-with-text .image-with-text__image {
	position: relative;
}

.image-with-text .image-with-text__image:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	background-color: var(--background-color);
}

.image-with-text__image {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

@media screen and (min-width: 750px) {
	.image-with-text__image {
		width: 50%;
		height: 100%;
	}
}
.image-with-text__image--cover {
	width: 100%;
	height: 100%;
}
.image-with-text__image--contain {
	width: auto;
	max-width: 80%;
	height: 80%;
}
.image-with-text__content {
	width: 100%;
	height: 50%;
}
@media screen and (min-width: 750px) {
	.image-with-text__content {
		width: 50%;
		height: 100%;
	}
}
