.recommended-products .item {
	display: flex;
	flex-direction: column;
	justify-self: center;
	align-items: center;
}
.recommended-products__image {
	position: relative;
	width: 100%;
}
.recommended-products__image .tag-text {
	position: absolute;
	top: 7px;
	left: 7px;
}
.recommended-products__image .quick-view-button {
	position: absolute;
	right: 0.1rem;
	bottom: 0.1rem;
}
.recommended-products__container {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	max-width: 100%;
	height: auto;
	padding: 0.5rem 0;
	gap: 0.5rem;
}
.recommended-products__name .text {
	text-align: center;
}
.recommended-products__price {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 0.2rem;
}
