.multi-icon {
	padding: 1rem 0rem;
}

.multi-icon__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	aspect-ratio: 1/1;
}
.multi-icon__icon > * {
	width: 100%;
	height: 100%;
}
.multi-icon__text {
	text-align: center;
}
.multi-icon .item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	aspect-ratio: 1/1;
}
