.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.scrolling-words-container {
	display: flex;
	align-items: center;
	gap: 0.7rem;
}
.scrolling-words-container.left {
	justify-content: flex-start;
}
.scrolling-words-container.center {
	justify-content: center;
}
.scrolling-words-container.right {
	justify-content: flex-end;
}
@media screen and (max-width: 750px) {
	.scrolling-words-container {
		flex-direction: column;
	}
}
@media screen and (min-width: 750px) {
	.scrolling-words-container {
		flex-wrap: wrap;
	}
}

.normal-heading {
	order: 2;
}

@media screen and (min-width: 750px) {
	.scrolling-words-container.first > div > ul > * {
		justify-content: flex-end;
	}
}

@media screen and (min-width: 750px) {
	.scrolling-words-container.second > div > ul > * {
		justify-content: flex-start;
	}
}

.scrolling-words-box {
	overflow: hidden;
}
.scrolling-words-box ul {
	margin: 0 0.625rem;
	padding: 0;
}
.scrolling-words-box ul * {
	display: flex;
	align-items: center;
}
@media screen and (max-width: 750px) {
	.scrolling-words-box ul * {
		justify-content: center;
	}
}
.scrolling-words-box.first {
	order: 1;
}
@media screen and (min-width: 750px) {
	.scrolling-words-box.first ul * {
		justify-content: flex-end;
	}
}
.scrolling-words-box.second {
	order: 3;
}
@media screen and (min-width: 750px) {
	.scrolling-words-box.second ul * {
		justify-content: flex-start;
	}
}
.scrolling-words-box.h1 {
	height: var(--h1-font-size);
}
.scrolling-words-box.h1 ul > h1 {
	height: var(--h1-font-size);
}
.scrolling-words-box.h2 {
	height: var(--h2-font-size);
}
.scrolling-words-box.h2 ul > h2 {
	height: var(--h2-font-size);
}
.scrolling-words-box.h3 {
	height: var(--h3-font-size);
}
.scrolling-words-box.h3 ul > h3 {
	height: var(--h3-font-size);
}
.scrolling-words-box.h4 {
	height: var(--h4-font-size);
}
.scrolling-words-box.h4 ul > h4 {
	height: var(--h4-font-size);
}
.scrolling-words-box.h5 {
	height: var(--h5-font-size);
}
.scrolling-words-box.h5 ul > h5 {
	height: var(--h5-font-size);
}
.scrolling-words-box.h6 {
	height: var(--h6-font-size);
}
.scrolling-words-box.h6 ul > h6 {
	height: var(--h6-font-size);
}

@-webkit-keyframes scrollUp2 {
	40%,
	50% {
		transform: translateY(-33.3333333333%);
	}
	90%,
	100% {
		transform: translateY(-66.6666666667%);
	}
}

@keyframes scrollUp2 {
	40%,
	50% {
		transform: translateY(-33.3333333333%);
	}
	90%,
	100% {
		transform: translateY(-66.6666666667%);
	}
}
@-webkit-keyframes scrollUp3 {
	23%,
	33% {
		transform: translateY(-25%);
	}
	56%,
	66% {
		transform: translateY(-50%);
	}
	89%,
	99% {
		transform: translateY(-75%);
	}
}
@keyframes scrollUp3 {
	23%,
	33% {
		transform: translateY(-25%);
	}
	56%,
	66% {
		transform: translateY(-50%);
	}
	89%,
	99% {
		transform: translateY(-75%);
	}
}
@-webkit-keyframes scrollUp4 {
	15%,
	25% {
		transform: translateY(-20%);
	}
	40%,
	50% {
		transform: translateY(-40%);
	}
	65%,
	75% {
		transform: translateY(-60%);
	}
	90%,
	100% {
		transform: translateY(-80%);
	}
}
@keyframes scrollUp4 {
	15%,
	25% {
		transform: translateY(-20%);
	}
	40%,
	50% {
		transform: translateY(-40%);
	}
	65%,
	75% {
		transform: translateY(-60%);
	}
	90%,
	100% {
		transform: translateY(-80%);
	}
}
