.featured-collections {
	padding: 2rem 0;
}
.featured-collections .item {
	display: grid;
	justify-items: center;
	align-items: center;
}
.featured-collections__image,
.featured-collections__container {
	grid-column: 1;
	grid-row: 1;
}
.featured-collections__image {
	z-index: 1;
	width: 100%;
	height: 100%;
}
.featured-collections__container {
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	width: 100%;
	height: 98%;
}
.featured-collections__title {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 95%;
	max-width: 95%;
	padding: 10px 0px;
	background-color: var(--primary-button-background-color);
	border-radius: var(--global-border-radius);
}
.featured-collections__title .text {
	max-width: 80%;
	color: var(--primary-button-text-color);
	text-align: center;
}
.featured-collections__link a {
	text-transform: uppercase;
}
