.image-banner {
	position: relative;
	display: grid;
	overflow: hidden;
}
.image-banner__picture,
.image-banner__content {
	grid-column: 1;
	grid-row: 1;
}
.image-banner__picture {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
}
.image-banner__content {
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
}
.image-banner__box {
	display: flex;
	flex-direction: column;
	padding: 15px;
	border-radius: var(--global-border-radius);
}
@media screen and (max-width: 1024px) {
	.image-banner__box {
		width: 100%;
	}
}
