.blog-posts {
	padding: 2rem 0;
}
.blog-posts .item {
	display: flex;
	flex-direction: column;
	justify-self: center;
	align-items: center;
}
.blog-posts__image {
	width: 100%;
	height: 100%;
}
.blog-posts__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
	max-width: 100%;
	height: auto;
	padding: 10px 0;
}
.blog-posts__author .text {
	color: var(--secondary-text-color);
}
.blog-posts__title .text {
	color: var(--body-text-color);
}
.blog-posts__author .text,
.blog-posts__title .text {
	padding: 0 5px;
	text-align: left;
	text-decoration: none;
}
.blog-posts__link a {
	text-transform: uppercase;
}
