.gallery {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-around;
}
@media screen and (min-width: 750px) {
	.gallery {
		flex-direction: row;
	}
}
.gallery__item {
	position: relative;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.gallery__image {
	width: auto;
}
.gallery__content {
	position: absolute;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	gap: 10px;
}

@media screen and (max-width: 750px) {
	.gallery__content > .button {
		width: 95%;
		margin-right: auto;
		margin-left: auto;
	}
}
