.text-with-icon {
	display: flex;
	justify-content: center;
	height: auto;
	padding: 2rem 0;
}
@media screen and (max-width: 750px) {
	.text-with-icon {
		padding: 4rem 0;
	}
}
.text-with-icon__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 90%;
}
@media screen and (max-width: 750px) {
	.text-with-icon__container {
		gap: 4rem;
	}
}
@media screen and (min-width: 750px) {
	.text-with-icon__container {
		flex-direction: row;
	}
}
.text-with-icon__column {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
	height: 100%;
}
@media screen and (min-width: 1024px) {
	.text-with-icon__column {
		width: 25%;
	}
}
.text-with-icon__content-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 90%;
	max-width: 100%;
	gap: 0.3rem;
}
.text-with-icon__content-box .icon {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;
}
.text-with-icon__content-box .icon > * {
	width: 90%;
	height: 90%;
}
.text-with-icon__content-box .text {
	text-align: center;
}
