.featured-collection {
	padding: 2rem 0;
}
.featured-collection .item {
	display: flex;
	flex-direction: column;
	justify-self: center;
	align-items: center;
}
.featured-collection__image {
	position: relative;
	width: 100%;
}
.featured-collection__image .tag-text {
	position: absolute;
	top: 7px;
	left: 7px;
}

.featured-collection__container {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	max-width: 100%;
	height: auto;
	padding: 0.5rem 0;
	gap: 0.5rem;
}
.featured-collection__name .text {
	text-align: center;
}
.featured-collection__price {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 0.2rem;
}
