.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact__form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
@media screen and (max-width: 750px) {
  .contact__form {
    width: 100%;
  }
}
.contact__heading {
  text-align: center;
}
@media screen and (max-width: 750px) {
  .contact__name, .contact__email, .contact__phone, .contact__message {
    width: 100%;
  }
}
.contact__message {
  min-height: 100px;
  max-height: 300px;
}
.contact__button {
  background: #fcdb33;
  display: grid;
  align-items: center;
  height: 44px;
}
.contact__button :nth-child(1),
.contact__button :nth-child(2) {
  grid-column: 1;
  grid-row: 1;
}
.contact__button :nth-child(1) {
  color: rgb(0, 0, 0);
}
.contact__button :nth-child(2):after {
  content: url("data:image/svg+xml,%3Csvg width='16' height='12' viewBox='0 0 16 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0V12H16V0H0ZM4.41533 5.286L1.33333 9.094V2.78867L4.41533 5.286V5.286ZM1.65467 1.33333H14.3447L8 6.47533L1.65467 1.33333V1.33333ZM5.45067 6.12533L8 8.19133L10.5533 6.122L14.2947 10.6667H1.77533L5.45067 6.12533ZM11.5893 5.28267L14.6667 2.78867V9.02067L11.5893 5.28267Z' fill='black'/%3E%3C/svg%3E%0A");
  opacity: 0;
}
.contact__button:hover :nth-child(1) {
  opacity: 0;
}
.contact__button:hover :nth-child(2):after {
  opacity: 1;
}