.faq {
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
.faq__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: auto;
	gap: 1rem;
	width: 100%;
}
@media screen and (min-width: 1024px) {
	.faq__container {
		flex-direction: row;
	}
}
.faq__content {
	width: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.3rem;
}
@media screen and (min-width: 750px) and (max-width: 1024px) {
	.faq__content {
		width: 80%;
	}
}
@media screen and (min-width: 1024px) {
	.faq__content {
		width: 100%;
	}
}
.faq__tab {
	cursor: pointer;
	width: 100%;
}
.faq__tab:hover {
	border: 2px solid var(--text-color);
}
@media screen and (min-width: 750px) {
	.faq__tab:hover {
		transform: scale(1.02);
	}
}
.faq__question {
	height: 2.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.faq__question-text {
	padding-left: 0.5rem;
}
.faq__question-svg {
	transition: all 0.2s ease-in-out;
	transform: rotate(360deg);
}
.faq__answer {
	overflow: hidden;
	height: 0;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 1rem;
	padding-right: 1rem;
	transition: all 0.2s ease-in-out;
}

.faq__tab.active .faq__answer {
	padding-top: 10px;
	padding-bottom: 10px;
}
.faq__tab.active .faq__question-svg {
	transform: rotate(180deg);
}

.faq__image img,
.faq__image .placeholder {
	border-radius: var(--global-border-radius);
}
.faq__tab .faq__question,
.faq__tab .faq__answer {
	border-radius: calc(var(--global-border-radius) / 2);
}
