.slideshow {
	height: 350px;
	overflow-x: hidden;
	position: relative;
	display: flex;
	justify-content: flex-start;

	&__container {
		height: 100%;
		display: flex;
		transition: all 0.8s cubic-bezier(0.45, 0.05, 0.55, 0.95);
	}

	&__slide {
		position: relative;
		display: flex;
		flex-direction: column;
		width: 100%;
		overflow: hidden;
	}

	&__picture {
		height: 100%;
	}

	&__content {
		width: 100%;
		height: 100%;
		display: flex;
		position: absolute;
		flex-direction: column;
		align-items: center;
	}

	&__box {
		display: flex;
		flex-direction: column;
	}

	&__indicators {
		position: absolute;
		bottom: 12px;
		left: 50%;
		transform: translateX(-50%);
		text-align: center;
		width: 100%;

		span {
			display: inline-block;
			background-color: rgb(255, 255, 255, 0.5);
			width: 40px;
			height: 5px;
			cursor: pointer;
			margin-right: 5px;
			margin-left: 5px;
			transition: transform 0.1s;

			&:hover {
				@media screen and (min-width: 751px) {
					transform: scaleY(2);
				}
			}

			&.active::after {
				content: "";
				position: absolute;
				background-color: #fcdb33;
				transform: translateX(calc(40px / -2));
				height: 5px;
			}
		}
	}

	.chevrons {
		.prev {
			left: 12px;
		}

		.next {
			right: 12px;
		}

		.prev,
		.next {
			display: inline-block;
			height: 32px;
			width: 32px;
			cursor: pointer;
			opacity: 0.5;
			position: absolute;
			top: 50%;
			&:hover {
				opacity: 1;
			}
		}

		@media screen and (max-width: 750px) {
			display: none;
		}
	}
}

@keyframes load {
	0% {
		width: 0px;
	}

	100% {
		width: 40px;
	}
}
