.filter-head {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem;
	border-bottom: 1px solid var(--body-text-color);
}

.filter-title {
	line-height: 2rem;
}

.filter-group__summary {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem;
	border-bottom: 1px solid var(--body-text-color);
}

summary {
	cursor: pointer;
	list-style: none;
}

details svg {
	transition: all 0.3s ease;
}

details[open] svg {
	transform: rotate(180deg);
}

.filter-label {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
}

.filter-active-filters__remove {
	padding: 0.5rem;
	background-color: var(--secondary-background-color);
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

.filter-active-filters__remove svg {
	pointer-events: none;
}

.filter-active-filters__remove:hover {
	background: var(--secondary-text-color);
	transition: all 0.3s ease;
}

.filter-active-filters__remove:active {
	background: var(--secondary-text-color);
}

.filter-active-filters__clear {
	align-self: center;
	cursor: pointer;
	padding: 0.5rem;
}

.filter-active-filters {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	padding: 1rem;
}

.filter-group__list {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.filter-group__list-item input:disabled {
	opacity: 0.5;
}

.filter-group__list-item label:has(input:disabled),
.color-filter-group__list-item input:disabled {
	opacity: 0.5;
	pointer-events: none;
}

.color-filter-group__list-item input:disabled:before {
	background: linear-gradient(to bottom right, transparent calc(50% - 1px), black calc(50% - 1px), black calc(50% + 1px), transparent calc(50% + 1px)) no-repeat;
	position: absolute;
	z-index: 2;
}

.filter-group__list-item label {
	display: flex;
	align-items: end;
	gap: 0.5rem;
	cursor: pointer;
}

.filter-group__price-range__inputs {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.filter-group__price-range__from-input {
	position: relative;
	padding: 0.5rem;
	border: 1px solid var(--body-text-color);
	width: 100%;
	border-radius: var(--global-border-radius);
}

.filter-group__price-range__from-input input {
	width: 100%;
}

.filter-group__price-range__from-input div::-webkit-input-placeholder {
	display: ;
}

.filter-group__price-range__from-input input {
	height: auto;
	padding: 0rem;
	border: 0px;
	background-color: transparent;
	text-align: right;
	color: var(--body-text-color);
}

.filter-group__price-range__currency-symbol {
	position: absolute;
}

input::-webkit-inner-spin-button {
	display: none;
}

.filter-group__container {
	padding: 1rem;
}

.filter-group__price-range__separator {
	margin-left: 1rem;
	margin-right: 1rem;
}

.filter-group__price-range__slider {
	position: relative;
	height: 3px;
	width: 100%;
	background: var(--secondary-text-color);
	outline: none;
	margin: 1rem 0rem;
}

.filter-group__price-range__slider .progress {
	height: 100%;
	left: 0%;
	right: 100%;
	background: var(--body-text-color);
	position: absolute;
}

.filter-group__price-range__slider input {
	background: none;
	-webkit-appearance: none;
	margin: 0px;
	padding: 0px;
	border: none;
	width: 100%;
	height: 3px;
	position: absolute;
	pointer-events: none;
}

.filter-group__price-range__slider input::-webkit-slider-thumb {
	pointer-events: auto;
	-webkit-appearance: none;
	width: 12px;
	height: 12px;
	background: var(--body-text-color);
}

.color-filter-group__list {
	display: flex;
	flex-wrap: wrap;
	gap: 0.4rem;
}

.color-filter-group__list-item {
	width: 35px;
	height: 35px;
}

.color-filter-group__list-item input {
	width: 35px;
	height: 35px;
	border: 1px solid var(--secondary-text-color);
	border-radius: var(--global-border-radius);
}

.color-filter-group__list-item input:checked {
	border: 2px solid var(--body-text-color);
}

.filter-mobile__button {
	position: relative;
}
