#quick-view-button {
	cursor: pointer;
}

quick-view-component {
	position: fixed;
	z-index: -1;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 750px) {
	quick-view-component {
		top: 0 !important;
		padding: 0.5rem;
	}
}

@media screen and (min-width: 750px) {
	quick-view-component {
		left: 50%;
		width: 550px;
		height: auto !important;
		max-height: 100%;
		margin-top: 0 !important;
		transform: translate(-50%, -50%);
	}
}

quick-view-component .quick-view {
	position: relative;
	width: 100%;
	padding: 1rem;
}

quick-view-component .quick-view.active {
	cursor: all;
	opacity: 1;
	transform: translateX(0);
	transition: all 1s cubic-bezier(0.75, 0, 0.175, 1);
}

@media screen and (min-width: 1024px) {
	quick-view-component .quick-view.active {
		transform: translateY(0);
	}
}

quick-view-component .quick-view.hidden {
	opacity: 0;
	cursor: none;
	transform: translateX(10%);
	transition: all 0.3s cubic-bezier(0.75, 0, 0.175, 1);
}

@media screen and (min-width: 1024px) {
	quick-view-component .quick-view.hidden {
		transform: translateY(10%);
	}
}

quick-view-component .quick-view-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
	height: 100%;
}

quick-view-component .quick-view-container .quantity-text {
	width: 100%;
	text-align: center;
}

quick-view-component .quick-view-container #quick-view-add-to-cart {
	cursor: pointer;
}

quick-view-component .quick-view__close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.5rem;
	cursor: pointer;
}

quick-view-component .quick-view__image {
	height: 120px;
	aspect-ratio: 1;
}

quick-view-component .quick-view__image-box {
	display: grid;
	height: 100%;
}

quick-view-component .quick-view__image-box .media {
	grid-column: 1;
	grid-row: 1;
	min-width: 120px;
	min-height: 120px;
}

quick-view-component .quick-view__image-box .media img {
	opacity: 0;
}

quick-view-component .quick-view__image-box .media:first-child img {
	opacity: 1 !important;
}

quick-view-component .quick-view__options {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 100%;
}

quick-view-component .quick-view__radios {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

quick-view-component .quick-view__radios-container {
	display: flex;
	flex-direction: column;
	padding: 0px;
	border: 0px;
	gap: 0.5rem;
}

quick-view-component .quick-view__radios-container .quick-view__color-select-content select {
	width: 100%;
}

quick-view-component .quick-view__radio__title {
	text-align: left;
}

quick-view-component .quick-view__radio__content {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 0.5rem;
}

quick-view-component .quick-view__radio__label {
	cursor: pointer;
	padding: 1rem;
	border: 1px solid var(--secondary-text-color);
	border-radius: var(--global-border-radius);
	font-size: var(--xsmall-font-size);
}

@media screen and (max-width: 1024px) {
	quick-view-component .quick-view__radio__label {
		padding: 0.8rem;
		font-size: var(--xsmall-font-size);
	}
}

quick-view-component .quick-view__radio__label.checked {
	border: 2px solid var(--body-text-color);
}

quick-view-component .quick-view__radio__label.variant_image {
	overflow: hidden;
	width: 60px;
	height: 60px;
	padding: 0;
}

quick-view-component .quick-view__radio__label.color_swatch {
	overflow: hidden;
	width: 35px;
	height: 35px;
	padding: 0;
}

quick-view-component .quick-view__radio__input {
	display: none;
}

quick-view-component .quick-view__quantity-field .quantity {
	justify-content: center;
	align-items: center;
}

quick-view-component .quick-view__top {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 0.5rem;
}

quick-view-component .quick-view__details {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
	width: 100%;
	height: 120px;
}

quick-view-component .quick-view__content {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	overflow: auto;
	width: 100%;
	padding: 1.5rem 0rem;
	gap: 1rem;
}

quick-view-component .quick-view__bottom {
	position: relative;
	display: flex;
	flex-direction: column !important;
}

.quick-view-add-to-cart.sold-out {
	pointer-events: none !important;
	background-color: var(--secondary-text-color) !important;
	border-color: var(--secondary-text-color) !important;
}

.quick-view-buy-now.sold-out {
	height: 0px !important;
	opacity: 0 !important;
	pointer-events: none !important;
}
