// ANCHOR: Reset
html,
body {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	padding: 0;
	margin: 0;
}

input {
	&::-webkit-search-cancel-button,
	&::-webkit-search-decoration,
	&::-webkit-search-results-button,
	&::-webkit-search-results-decoration {
		-webkit-appearance: none;
	}
}

input,
textarea {
	border-radius: 0;
}

button {
	background: none;
	border: none;
	cursor: pointer;
	outline: none;
	margin: 0;
}

img {
	color: transparent;
}

img[loading="lazy"] {
	clip-path: inset(0.5px);
}

// ANCHOR: Base
*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	box-sizing: border-box;
	font-family: var(--font-family);
	font-style: var(--font-style);
	background-color: var(--background-color);
}

img {
	user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.desktop-only {
	@media screen and (max-width: 1024px) {
		display: none !important;
	}
}

.mobile-only {
	@media screen and (min-width: 1025px) {
		display: none !important;
	}
}

.theme-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	right: 0px;
	bottom: 0px;
	z-index: 99;
	backdrop-filter: blur(4px);
	background-color: rgb(0 0 0 / 20%);
	transition: all 0.3s ease-in;

	&.hidden {
		opacity: 0;
		z-index: -1;
		transition: all 0.3s ease-in;
	}

	&.higher-layer {
		z-index: 102;
		background-color: rgb(0 0 0 / 40%);
		backdrop-filter: blur(8px);
		transition: all 0.3s ease-in;
	}

	@media screen and (min-width: 1025px) {
		cursor: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='20' cy='20' r='20' fill='black'/%3E%3Cpath d='M14 26L26 14' stroke='white' stroke-width='1.5'/%3E%3Cpath d='M14 14L26 26' stroke='white' stroke-width='1.5'/%3E%3C/svg%3E%0A") 16 16, pointer;
	}
}

html.lock {
	overflow: hidden;
	touch-action: none;
}

// ANCHOR: Typography
h1,
h2,
h3,
h4,
h5,
h6 {
	text-transform: var(--headings-style);
	color: var(--headings-color);
	line-height: 1;
}

p,
label,
legend {
	color: var(--text-color);
}

.underline {
	text-decoration: underline;
}
h1 {
	font-size: var(--h1-font-size);
}

h2 {
	font-size: var(--h2-font-size);
}

h3 {
	font-size: var(--h3-font-size);
}

h4 {
	font-size: var(--h4-font-size);
}

h5 {
	font-size: var(--h5-font-size);
}

h6 {
	font-size: var(--h6-font-size);
}

p {
	font-size: var(--font-size);
}

p.small,
a.small,
label {
	font-size: calc(var(--font-size-type-scale) / var(--font-type-scale) * 1px);
	font-weight: 300;
}

.subheading {
	font-size: calc(var(--font-size-type-scale) * var(--font-type-scale) * 1px);
}

.button-text,
.button {
	font-size: calc((var(--font-size-type-scale) / var(--font-type-scale)) * 1px);
	font-weight: 700;
	text-transform: uppercase;
}

.price--actual {
	font-size: 1rem;
}

a {
	text-decoration: none;
	color: white;
}

a.link {
	text-decoration: underline;
	color: #aaaaaa;
	text-align: center;
	font-size: 0.8rem;
}

a.button {
	font-size: 0.8rem;
	font-weight: 600;
}

.secondary-text {
	color: #aaaaaa;
}

.price--compare-at {
	font-size: var(--font-size);
	font-weight: lighter;
	text-decoration: line-through;
	color: #aaaaaa;
}

.label-text {
	font-size: calc((var(--font-size-type-scale) / var(--font-type-scale)) / var(--font-type-scale) * 1px);
}

.tag-text {
	font-size: var(--tag-font-size);
}

p[data-spam-detection-disclaimer],
p[data-spam-detection-disclaimer] > * {
	color: grey;
	text-align: center;
	font-size: 0.8rem;
}

p[data-spam-detection-disclaimer] > a {
	text-decoration: underline;
}

.text-alignment {
	&--center,
	&--right,
	&--left {
		text-align: center;
	}
}

@media screen and (min-width: 1025px) {
	.text-alignment {
		&--center {
			text-align: center;
		}

		&--right {
			text-align: right;
		}

		&--left {
			text-align: left;
		}
	}
}

.vertical {
	&--top {
		justify-content: flex-start;
	}

	&--center {
		justify-content: center;
	}

	&--bottom {
		justify-content: flex-end;
	}
	&--top,
	&--center,
	&--bottom {
		@media screen and (max-width: 750px) {
			justify-content: center;
		}
	}
}

@media screen and (min-width: 751px) {
	.horizontal {
		&--right {
			margin-left: auto;
		}

		&--left {
			margin-right: auto;
		}

		&--center {
			margin-right: auto;
			margin-left: auto;
		}
	}
}

// ANCHOR: Form
input {
	height: 44px;
}

input,
textarea,
select {
	font-size: 1rem;
	color: #fff;
	background-color: #222;
	border: 1px solid rgb(144, 144, 144);
	padding: 0.5rem;
	outline: none;

	height: 44px;
	@media screen and (min-width: 1025px) {
		height: 50px;
	}

	&:focus {
		border: 1px solid rgb(255, 255, 255);
	}

	&::placeholder {
		color: rgb(144, 144, 144);
		font-size: 1rem;
		font-family: var(--font-family);
	}
}

.form {
	&__error,
	&__success {
		padding-top: 0.5rem;
		text-align: center;
	}

	&__error {
		color: #ff3333;
		&-list {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}

	&__success {
		color: #4bb543;
	}
}

// ANCHOR: Button

button,
.shopify-payment-button__button {
	font-family: var(--font-family) !important;
}

.shopify-payment-button__button {
	color: var(--secondary-button-text-color) !important;
	background-color: var(--secondary-button-background-color) !important;
	border: var(--button-border-width) solid var(--primary-button-border-color) !important;
	border-radius: var(--button-border-radius) !important;
	transition: 1s !important;
	padding: 12.5px 0px !important;
	font-size: calc((var(--font-size-type-scale) / var(--font-type-scale)) * 1px) !important;
	font-weight: 700 !important;
	text-transform: uppercase !important;

	@media screen and (min-width: 1025px) {
		padding: 15px 0px !important;
	}

	&:after {
		position: absolute !important;
		opacity: 0% !important;
		transform: TranslateX(0px) !important;
		transition: 0.2s !important;
	}

	&:hover {
		color: var(--button-text-border-hover-color) !important;
		background-color: var(--button-background-hover-color) !important;
		transition: 0.2s !important;
		border: var(--button-border-width) solid var(--button-text-border-hover-color) !important;
		border-radius: var(--button-border-radius-hover) !important;
		transition: 0.2s !important;

		&:after {
			opacity: 100% !important;
			transform: TranslateX(10px) !important;
		}
	}
}

.button {
	&--primary {
		color: var(--primary-button-text-color);
		background-color: var(--primary-button-background-color);
	}

	&--secondary {
		color: var(--secondary-button-text-color);
		background-color: var(--secondary-button-background-color);
	}
	&--primary,
	&--secondary {
		text-transform: uppercase;
		text-align: center;
		padding: 12.5px 0px;

		@media screen and (min-width: 1025px) {
			padding: 15px 0px;
		}

		&.border:after {
			position: absolute;
			opacity: 0%;
			transform: TranslateX(0px);
			transition: 0.2s;
		}

		&:not(.border):after {
			position: absolute;
			transform: TranslateX(5px);
			transition: 0.2s;
		}

		&:hover {
			color: var(--button-text-border-hover-color);
			background-color: var(--button-background-hover-color);
			transition: 0.2s;

			&:after {
				opacity: 100%;
				transform: TranslateX(10px);
			}
		}
	}
}

a.border.button,
button.border.button {
	&--primary {
		border: var(--button-border-width) solid var(--primary-button-border-color);
	}

	&--secondary {
		border: var(--button-border-width) solid var(--secondary-button-border-color);
	}
	&--primary,
	&--secondary {
		border-radius: var(--button-border-radius);
		transition: 1s;

		&:hover {
			color: var(--button-text-border-hover-color);
			border: var(--button-border-width) solid var(--button-text-border-hover-color);
			border-radius: var(--button-border-radius-hover);
			transition: 0.2s;
		}
	}
}

@media screen and (min-width: 751px) {
	.button {
		&--primary,
		&--secondary {
			min-width: 200px;
		}
	}
}

.buttons {
	display: flex;
	width: 100%;
	gap: 10px;
	justify-content: center;
	flex-direction: column;
}

@media screen and (min-width: 751px) {
	.buttons {
		flex-direction: row;
		flex-wrap: wrap;

		&--left {
			justify-content: left;
		}

		&--center {
			justify-content: center;
		}

		&--right {
			justify-content: right;
		}
	}
}

// .button {
// 	&.loading {
// 		pointer-events: none;
// 		background-repeat: no-repeat;
// 		background-position: center;
// 		color: transparent !important;

// 		&.button--primary {
// 			background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='L4' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 100 100' enable-background='new 0 0 0 0' xml:space='preserve'%3E%3Ccircle fill='%23000' stroke='none' cx='6' cy='50' r='6'%3E%3Canimate attributeName='opacity' dur='1s' values='0;1;0' repeatCount='indefinite' begin='0.1'/%3E%3C/circle%3E%3Ccircle fill='%23000' stroke='none' cx='26' cy='50' r='6'%3E%3Canimate attributeName='opacity' dur='1s' values='0;1;0' repeatCount='indefinite' begin='0.2'/%3E%3C/circle%3E%3Ccircle fill='%23000' stroke='none' cx='46' cy='50' r='6'%3E%3Canimate attributeName='opacity' dur='1s' values='0;1;0' repeatCount='indefinite' begin='0.3'/%3E%3C/circle%3E%3C/svg%3E%0A");
// 		}
// 		&.button--secondary {
// 			background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='L4' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 100 100' enable-background='new 0 0 0 0' xml:space='preserve'%3E%3Ccircle fill='%23fff' stroke='none' cx='6' cy='50' r='6'%3E%3Canimate attributeName='opacity' dur='1s' values='0;1;0' repeatCount='indefinite' begin='0.1'/%3E%3C/circle%3E%3Ccircle fill='%23fff' stroke='none' cx='26' cy='50' r='6'%3E%3Canimate attributeName='opacity' dur='1s' values='0;1;0' repeatCount='indefinite' begin='0.2'/%3E%3C/circle%3E%3Ccircle fill='%23fff' stroke='none' cx='46' cy='50' r='6'%3E%3Canimate attributeName='opacity' dur='1s' values='0;1;0' repeatCount='indefinite' begin='0.3'/%3E%3C/circle%3E%3C/svg%3E%0A");
// 		}
// 	}
// 	&.finished {
// 		pointer-events: none;
// 		background-repeat: no-repeat;
// 		background-position: center;
// 		color: transparent !important;
// 		&:before {
// 			animation: loadBefore 0.5s ease-in-out;
// 			content: "✓ Product added to cart";
// 			color: var(--primary-button-text-color) !important;
// 			position: absolute;
// 			left: 50%;
// 			transform: translateX(-50%);
// 		}
// 	}

// 	@keyframes loadBefore {
// 		0% {
// 			opacity: 0;
// 		}
// 		100% {
// 			opacity: 1;
// 		}
// 	}
// }

// ANCHOR: Button animation
@media screen and (min-width: 751px) {
	a.button,
	button.button {
		position: relative;
		text-decoration: none;
		overflow: hidden;
		text-transform: uppercase;

		span {
			position: absolute;
			display: block;

			&:nth-child(1) {
				top: 0;
				left: -100%;
				width: 100%;
				height: 2px;
				background: linear-gradient(90deg, transparent, var(--button-animation-color));
			}

			&:nth-child(2) {
				top: -100%;
				right: 0;
				width: 2px;
				height: 100%;
				background: linear-gradient(180deg, transparent, var(--button-animation-color));
			}

			&:nth-child(3) {
				bottom: 0;
				right: -100%;
				width: 100%;
				height: 2px;
				background: linear-gradient(270deg, transparent, var(--button-animation-color));
			}

			&:nth-child(4) {
				bottom: -100%;
				left: 0;
				width: 2px;
				height: 100%;
				background: linear-gradient(360deg, transparent, var(--button-animation-color));
			}
		}

		&:hover span {
			&:nth-child(1) {
				left: 100%;
				transition: 0.75s;
			}

			&:nth-child(2) {
				top: 100%;
				transition: 0.75s;
				transition-delay: 0.2s;
			}

			&:nth-child(3) {
				right: 100%;
				transition: 0.75s;
				transition-delay: 0.4s;
			}

			&:nth-child(4) {
				bottom: 100%;
				transition: 0.75s;
				transition-delay: 0.6s;
			}
		}
	}
}

// ANCHOR: Button-link
.button--link {
	position: relative;
	color: #fcdb33;
	&:after {
		position: absolute;
		bottom: 0px;
		transform: TranslateX(5px);
		transition: 0.2s;
	}
	&:hover:after {
		transform: TranslateX(10px);
		transition: 0.2s;
	}
}

// ANCHOR: Media
.placeholder {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: rgb(34, 34, 34);
	fill: rgb(142, 142, 142);
}

.media {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	img {
		width: 100%;
		height: 100%;
		object-position: center center;

		&.fit {
			object-fit: cover;
		}
		&.full {
			object-fit: contain;
		}
	}

	iframe {
		width: 100%;
		height: 100%;
		object-position: center center;
	}
}

// ANCHOR: All sections

.container {
	padding: 2rem 15px;

	@media screen and (min-width: 751px) {
		padding: 2rem 20px;
	}
}

.box {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 10px;

	@media screen and (min-width: 751px) {
		padding: 20px;
	}
}

@media screen and (min-width: 751px) {
	.full-width {
		width: 100%;
	}

	.wrapped {
		max-width: var(--wrapped-content-width);
		margin-left: auto;
		margin-right: auto;
	}
}

.shadow-divider {
	width: 100%;
	height: 40px;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 100%);
	position: absolute;
	top: 0;
	right: 0;
	transform: translateY(-98%);
	pointer-events: none;
}

slider-component.multi-icon .slider-component .slides-container {
	@media screen and (max-width: 750px) {
		--container-width: calc(var(--section-width) * 0.75);
	}
}

// ANCHOR: Corner border

.corner-border {
	position: relative;
}
.corner-border:before,
.corner-border:after,
.corner-border > .corner-border-target:before,
.corner-border > .corner-border-target:after {
	position: absolute;
	content: " ";
	width: 10%;
	height: 10%;
	border-color: #fff;
	border-style: solid;
	z-index: 2;
	transition: all 0.2s ease;
	pointer-events: none;
}
@media screen and (min-width: 1024px) {
	.corner-border:hover {
		&:before,
		&:after,
		.corner-border-target:before,
		.corner-border-target:after {
			width: 50%;
			height: 50%;
			transition: all 0.2s ease;
		}
	}
}

.corner-border:before {
	top: 0;
	left: 0;
	border-width: 1px 0 0 1px;
}
.corner-border:after {
	top: 0;
	right: 0;
	border-width: 1px 1px 0 0;
}
.corner-border > .corner-border-target:before {
	bottom: 0;
	right: 0;
	border-width: 0 1px 1px 0;
}
.corner-border > .corner-border-target:after {
	bottom: 0;
	left: 0;
	border-width: 0 0 1px 1px;
}

// ANCHOR: Reveal on scroll
// p,
// h1,
// h2,
// h3,
// h4,
// h5,
// h6,
// a,
.reveal {
	transform: translate(0, 5%);
	animation: reveal 500ms;
	animation-fill-mode: forwards;
	pointer-events: all;
}

@keyframes reveal {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}

.fade {
	pointer-events: none;
	transform: translate(0, 0);
	animation: fade 500ms;
	animation-fill-mode: forwards;
}

@keyframes fade {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: translate(0, 5%);
	}
}

// ANCHOR: Quantity field

.quantity {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 0.5rem;
	width: 100%;

	&-field {
		border: 2px solid white;
		display: flex;
		justify-content: center;
		width: 150px;
		height: 44px;
		align-items: center;

		&.cart {
			width: 83px;
			height: 25px;
		}

		&__input {
			width: 33%;
			background-color: transparent;
			border: none;
			outline: none;
			text-align: center;
			height: 100%;
			padding: 0;
		}

		&__minus,
		&__plus {
			color: white;
			width: 33%;
			height: 100%;
		}
	}
}

// ANCHOR: Slider component
slider-component {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.slider-component {
		height: auto;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		overflow: hidden;

		@media screen and (max-width: 750px) {
			justify-content: space-evenly;
		}

		.prev,
		.next {
			justify-content: center;
			visibility: hidden;
			height: 100%;
			cursor: pointer;
			opacity: 0.5;
			display: flex;
			align-items: center;

			@media screen and (max-width: 750px) {
				width: 10%;
				display: none;
			}
			@media screen and (min-width: 751px) and (max-width: 1024px) {
				width: 10%;
				display: none;
			}

			&:hover {
				opacity: 1;
			}
		}

		.prev {
			visibility: "hidden";

			@media screen and (max-width: 750px) {
				left: 12px;
			}
			@media screen and (min-width: 1025px) {
				padding-right: 20px;
				justify-content: flex-end;
			}
		}

		.next {
			@media screen and (max-width: 750px) {
				right: 12px;
			}
			@media screen and (min-width: 1025px) {
				padding-left: 20px;
				justify-content: flex-start;
			}
		}

		.slides-container {
			width: var(--container-width);
			display: flex;
			justify-content: center;
			--section-width: 100%;
			--item-width: calc(var(--section-width) / var(--slider-items));

			@media screen and (max-width: 750px) {
				--slider-items: var(--mobile-items);
				--container-width: calc(var(--section-width) * 0.88);
			}
			@media screen and (min-width: 751px) and (max-width: 1024px) {
				--slider-items: var(--tablet-items);
				--container-width: calc(var(--section-width) * 0.8);
			}
			@media screen and (min-width: 1025px) {
				--slider-items: var(--desktop-items);
				overflow: hidden;
			}

			.slide {
				width: 100%;
				height: auto;
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: flex-start;
				z-index: 1;
				transition: all 0.5s cubic-bezier(0.45, 0.05, 0.55, 0.95);

				@media screen and (min-width: 751px) {
					transition: all 0.7s cubic-bezier(0.45, 0.05, 0.55, 0.95);
				}

				.item {
					height: 100%;
					width: var(--item-width);
					min-width: var(--item-width);
					max-width: var(--item-width);
					overflow: hidden;
					> * {
						max-width: 95%;
						overflow: hidden;
					}
				}
			}
		}
	}
}

.tag {
	&--normal {
		color: var(--primary-button-background-color);
	}
	&--animated {
		animation: blink 1s linear infinite;
		color: var(--primary-button-background-color);
	}
	&--animated-hover {
		&:after {
			content: "NEW";
			vertical-align: middle;
		}
	}
	&--normal,
	&--animated {
		z-index: 3;
		padding: 0.05rem 0.15rem;
		pointer-events: none;
	}
	&--animated,
	&--animated-hover:after {
		font-size: var(--tag-font-size);
		color: var(--text-color);
		padding: 0.05rem 0.15rem;
		pointer-events: none;
		@media screen and (min-width: 1025px) {
			animation: blink 1s linear infinite;
		}
	}
	&--normal,
	&--animated,
	&--animated-hover:after {
		border: 1px solid;
	}

	@keyframes blink {
		0% {
			opacity: 0.5;
		}
		49% {
			opacity: 0.5;
		}
		50% {
			opacity: 1;
		}
		99% {
			opacity: 1;
		}
	}
}

.quick-add-icon {
	z-index: 3;
	width: 1.5rem;
	height: 1.5rem;
	.svg {
		width: 100%;
		height: 100%;
	}
	:hover {
	}
}

// ANCHOR: Header container
.header {
	&-section {
		width: 100%;
		z-index: 110;
		&.boxed {
			padding: 8px;
			position: absolute;
		}

		&.sticky {
			position: fixed;
		}

		&.higher-layer {
			z-index: 102;
		}
	}
	&-container {
		width: 100%;
		z-index: 5;
		display: flex;
		flex-direction: column;
	}
}

.header {
	&__content {
		position: relative;
		width: 100%;
		min-height: 55px;
		height: auto;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 10px 10px;
		gap: 1rem;

		@media screen and (min-width: 751px) and (max-width: 1024px) {
			min-height: 70px;
			padding: 10px 20px;
		}

		@media screen and (min-width: 1025px) {
			padding: 0px 30px;
		}
	}

	&__logo {
		display: flex;
	}

	&__logo-container {
		max-height: 50px;
		max-width: 250px;
		overflow: hidden;
		display: flex;
		align-items: center;
	}
	&__menu {
		padding: 0;
		justify-content: flex-start;
		&__content {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			list-style: none;
			@media screen and (max-width: 1024px) {
				display: none;
			}
			// @media screen and (min-width: 1025px) {
			//         gap: 2rem;
			// }
			// @media screen and (min-width: 1441px) {
			//         gap: 4rem;
			// }

			&.hidden {
				display: none;
			}
		}
	}

	&__icons {
		display: flex;
		flex-direction: row;
		justify-content: center;
		justify-content: flex-end;
		order: 3;
		gap: 0.5rem;

		&-search,
		&-drawer,
		&-cart {
			cursor: pointer;
			&__item-count {
				position: absolute;
				top: 0;
				right: -15px;
				color: var(--primary-button-background-color);
			}
		}

		@media screen and (min-width: 751px) {
			gap: 1rem;
		}

		&-account {
			@media screen and (max-width: 1024px) {
				display: none;
			}
		}

		&-drawer {
			&.hidden {
				@media screen and (min-width: 1025px) {
					display: none;
				}
			}
		}
	}

	@media screen and (min-width: 1024px) {
		&__logo,
		&__icons,
		&__menu {
			flex-shrink: 1;
			flex-basis: 0px;
		}
		&__logo,
		&__icons {
			flex-grow: 1;
		}
		&__menu {
			flex-grow: 4;
		}
	}

	@media screen and (max-width: 1024px) {
		&__logo {
			justify-content: center;
		}
		&__logo {
			order: 2;
		}
		&__menu {
			order: 1;
		}
		&__logo {
			flex: 3 1 0px;
		}
		&__menu,
		&__icons {
			flex: 1 1 0px;
		}
	}
}

// ANCHOR: Footer

.footer {
	&__container {
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 3rem;

		@media screen and (max-width: 750px) {
			padding: 1rem;
		}

		@media screen and (min-width: 751px) and (max-width: 1024px) {
			padding: 1.5rem;
		}

		@media screen and (min-width: 1025px) {
			padding: 2rem;
		}
	}

	&__content {
		width: 100%;
		height: 100%;
		display: grid;
		grid-gap: 3rem;

		@media screen and (max-width: 750px) {
			grid-template-columns: 1fr 1fr;
			justify-content: space-between;
		}

		@media screen and (min-width: 751px) and (max-width: 1024px) {
			grid-template-columns: 1fr 1fr 1fr;
		}

		@media screen and (min-width: 1025px) {
			grid-template-columns: none;
			justify-content: space-between;
			grid-auto-flow: column;
		}
	}

	&__heading {
		font-size: 1rem;
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 1.5rem;

		&-content {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
		}
	}

	&__logo {
		@media screen and (max-width: 750px) {
			grid-column: span 2;
		}

		@media screen and (min-width: 751px) and (max-width: 1024px) {
			grid-column: span 3 / auto;
		}

		@media screen and (min-width: 1025px) {
		}
	}

	&__information-item {
		display: flex;
		align-items: center;
		gap: 0.5rem;

		a {
			text-decoration: underline;
		}
	}

	&__social-media {
		&-icons {
			display: flex;
			flex-wrap: wrap;
		}
	}

	&__newsletter {
		padding: 0rem;

		@media screen and (max-width: 750px) {
			grid-column: span 2;
		}

		@media screen and (min-width: 751px) and (max-width: 1024px) {
			grid-column: span 2;
		}

		@media screen and (min-width: 1025px) {
		}

		.newsletter__text {
			text-align: left;
		}

		.newsletter__form {
			width: 100%;
		}
	}

	&__bottom {
		width: 100%;
		height: auto;
		display: grid;

		grid-gap: 1rem;

		@media screen and (max-width: 750px) {
			grid-template-columns: 1fr;
		}

		@media screen and (min-width: 751px) and (max-width: 1024px) {
			grid-template-columns: 1fr;
		}

		@media screen and (min-width: 1025px) {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}

	&__localization {
	}

	&__payment-methods {
		display: flex;
		flex-wrap: wrap;
		gap: 0.2rem;

		@media screen and (min-width: 1025px) {
			justify-content: center;
		}
	}

	&__powered-by {
		@media screen and (min-width: 1025px) {
			text-align: right;
		}
	}
}

// ANCHOR: Menu and Cart drawer

cart-component,
menu-drawer-component {
	position: fixed;
	width: 100%;
	bottom: 0px;
	z-index: 98;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px;
	z-index: 100;

	@media screen and (min-width: 751px) {
		max-width: 500px;
	}

	&.active {
		transform: translateX(0);
		transition: transform 0.8s cubic-bezier(0.75, 0, 0.175, 1);
	}

	&.hidden {
		transition: transform 0.5s cubic-bezier(0.75, 0, 0.175, 1);
	}

	&__container {
		width: 100%;
		height: 100%;
		z-index: 100;

		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		padding: 1rem;
		overflow: auto;

		display: flex;
		justify-content: space-between;
	}

	#close-icon {
		cursor: pointer;
	}
}

// ANCHOR: Menu desktop

menu-drawer-component {
	transform: translateX(0%);
	left: 0;

	&.hidden {
		transform: translateX(-120%);
	}
}

.menu {
	a {
		text-decoration: none;
		color: white;
	}

	&__parent {
		padding: 1.8rem 0rem;

		@media screen and (min-width: 1025px) {
			padding: 1.8rem 1rem;
		}
		@media screen and (min-width: 1441px) {
			padding: 1.8rem 2rem;
		}

		&-title {
			display: flex;
			flex-direction: row;
			align-items: center;
			font-weight: bold;
			position: relative;
			text-align: center;

			&:before {
				content: "";
				position: absolute;
				top: 120%;
				left: 0;
				width: 100%;
				height: 3px;
				background: var(--primary-button-border-color);
				transform-origin: left bottom;
				transform: scaleX(0);
				transition: transform 0.2s cubic-bezier(0.75, 0, 0.175, 1);
			}

			&.filled:after {
				content: url("data:image/svg+xml,%3Csvg width='8' height='9' viewBox='0 0 8 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 1.23286L3.25787 3.49073L3.68509 3.78682L4.11231 3.49073L7.37018 1.23286L6.51575 0L3.68509 1.96179L0.854435 0L0 1.23286ZM0 5.59632L3.25787 7.8542L3.68509 8.15028L4.11231 7.8542L7.37018 5.59632L6.51575 4.36346L3.68509 6.32525L0.854435 4.36346L0 5.59632Z' fill='white'/%3E%3C/svg%3E%0A");
				padding: 0.5rem;
				position: absolute;
				left: calc(100%);
			}
		}
	}

	&__dropdown {
		// opacity: 1;
		// z-index: 1;
		opacity: 0;
		z-index: -1;
		height: 0px;
		transform: translateY(-10%);
		position: absolute;
		top: 100%;
		pointer-events: none;
		transition: all 0.2s cubic-bezier(0.75, 0, 0.175, 1);

		&-content {
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			height: auto;
		}
	}

	&__childs {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		position: relative;
		margin: 1rem 0;
		height: 100%;
	}

	&__child-icon {
		height: 60px;
		width: 60px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__child {
		display: flex;
		align-items: center;
		gap: 0.6rem;
		width: 100%;
		height: 66.4px;
		padding: 0rem 1rem;
		min-width: 300px;

		&:hover {
			background-color: #222;
		}

		&-title {
			position: relative;
		}

		&.filled:after {
			content: url("data:image/svg+xml,%3Csvg width='9' height='8' viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.84289 7.76007L4.10076 4.5022L4.39685 4.07498L4.10076 3.64776L1.84289 0.389887L0.610031 1.24432L2.57182 4.07498L0.610031 6.90564L1.84289 7.76007ZM6.20635 7.76007L8.46423 4.5022L8.76031 4.07498L8.46423 3.64776L6.20635 0.389887L4.9735 1.24432L6.93529 4.07498L4.9735 6.90564L6.20635 7.76007Z' fill='white'/%3E%3C/svg%3E%0A");
			position: absolute;
			right: 15px;
			color: white;
		}
	}

	&__content {
		position: absolute;
		top: 0;
		right: 0;
		width: 600px;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 1rem;
		gap: 1rem;
		opacity: 0;
		pointer-events: none;

		.menu__picture {
			height: 200px;
			width: 300px;
		}

		.menu__description {
			text-align: center;
		}
	}

	&__grandchilds {
		opacity: 0;
		position: absolute;
		pointer-events: none;
		top: 0;
		left: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 0.5rem;
		width: 100%;
		padding: 1rem 2rem;
		min-width: 300px;
	}

	&__grandchild {
		font-size: 0.9rem;
		font-weight: 100;
		opacity: 1;
		transition: opacity 0.1s ease;

		&:hover {
			opacity: 0.7;
		}
	}
}

.menu__child:hover {
	.menu__grandchilds,
	.menu__content {
		pointer-events: all;
		opacity: 1;
	}
}

.menu__parent:hover {
	.menu__parent-title {
		&:before {
			transform: scaleX(1);
			transition: transform 0.2s cubic-bezier(0.75, 0, 0.175, 1);
		}
	}
	.menu__dropdown {
		opacity: 1;
		z-index: 1;
		height: auto;
		transform: translateY(0%);
		pointer-events: all;
		transition: all 0.2s cubic-bezier(0.75, 0, 0.175, 1);
	}
	.menu__childs:not(:hover) {
		.menu__child:nth-child(1) {
			background-color: #222;
			.menu__grandchilds,
			.menu__content {
				pointer-events: all;
				opacity: 1;
			}
		}
	}
}

// ANCHOR: Menu mobile

.menu-mobile {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2px;
	overflow: hidden;

	&__container {
		width: inherit;
		height: inherit;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
	}

	&__head {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 0.5rem;
	}

	&__content {
		height: 100%;
		overflow-x: auto;
		padding: 1rem 2rem;
	}

	&__parents {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		width: 100%;
	}

	&__parent {
		width: 100%;
		overflow: hidden;
		display: flex;
		flex-direction: column;

		&-title {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			padding: 1rem;
			cursor: pointer;
			position: relative;

			h6 {
				font-size: 1rem;
				flex-grow: 1;
			}

			.svg {
				transition: all 0.2s ease-in-out;
				transform: rotate(359deg);
			}
		}
		&-childs {
			height: 0;
			display: flex;
			flex-direction: column;
			transition: height 0.2s cubic-bezier(0.75, 0, 0.175, 1);

			&.active {
				transition: height 0.2s cubic-bezier(0.75, 0, 0.175, 1);

				&.border {
				}
			}
		}
	}

	&__child {
		width: 100%;

		&-title {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			padding: 0.7rem 0.7rem 0.7rem 1rem;
			font-weight: 600;
			cursor: pointer;
			position: relative;

			.text {
				flex-grow: 1;
				padding-left: 0.5rem;
			}

			.svg {
				transition: all 0.2s ease-in-out;
				transform: rotate(359deg);
			}
		}

		&-childs {
			height: 0;
			transition: height 0.2s cubic-bezier(0.75, 0, 0.175, 1);
			overflow: hidden;
			display: flex;
			flex-direction: column;
			margin-left: 1rem;

			&.active {
				transition: height 0.2s cubic-bezier(0.75, 0, 0.175, 1);

				&.border {
				}
			}
		}
	}

	&__grandchild {
		width: 100%;

		&-title {
			padding: 0.5rem 0.5rem 0.5rem 1rem;
		}
	}

	&__picture-container {
		display: flex;
		flex-direction: column;
		padding: 1rem 0;
		gap: 0.5rem;
	}

	&__picture {
		height: 150px;

		&-description {
			text-align: center;
		}

		> * {
			width: 80%;
		}
	}

	&__account-container {
		padding: 1rem;
	}

	&__account {
		display: flex;
		flex-direction: row;
		gap: 0.5rem;
		align-items: center;
		padding-top: 1rem;
	}
}

.menu-mobile__parent:has(.menu-mobile__parent-childs.active) .menu-mobile__parent-title .svg {
	transition: all 0.2s ease-in-out;
	transform: rotate(180deg);
}

.menu-mobile__child:has(.menu-mobile__child-childs.active) .menu-mobile__child-title .svg {
	transition: all 0.2s ease-in-out;
	transform: rotate(180deg);
}

// ANCHOR: Cart drawer
cart-component {
	transform: translateX(120%);
	right: 0px;

	&.hidden {
		transform: translateX(120%);
	}
}

.cart-drawer {
	position: relative;
	height: 100%;
	width: 100%;

	&__content {
		&--empty {
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			gap: 1rem;

			.cart-drawer__head {
				position: absolute;
				top: 5px;
				width: 92%;
			}

			.buttons {
				width: 200px;
			}
		}

		&--filled {
			height: 100%;
			display: flex;
			justify-content: center;
			width: 100%;
			position: relative;
		}
	}

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
		z-index: 2;
	}

	&__head {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 0.5rem;
	}

	&__products {
		flex-grow: 1;
		overflow-x: auto;
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	&__product {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		gap: 0.5rem;
		padding: 0.5rem 0.8rem;

		@media screen and (min-width: 1025px) {
			padding: 1rem;
			gap: 1rem;
		}

		&__image {
			img {
				object-fit: contain;
				width: 80px;
				height: 80px;
				@media screen and (min-width: 1025px) {
					width: 95px;
					height: 95px;
				}
			}
		}

		&__details-middle {
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			gap: 0.5rem;

			.product-variants {
				display: flex;
				flex-direction: column;
			}
			.product-variant {
				font-size: 0.8rem;
				color: #aaaaaa;
			}
		}

		&__details-side {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			justify-content: center;
			gap: 2rem;

			.remove {
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				cursor: pointer;
			}
		}
	}

	.free-shipping-bar {
		// padding: 1rem 0;
		width: 100%;
		text-align-last: center;
		> * {
			width: 90%;
		}
	}

	&__interaction--filled,
	&__interaction--empty,
	.cart-drawer__products,
	.free-shipping-reminder {
		opacity: 0;
		&.hide {
			opacity: 0;
			transition: all 0.2s ease-in-out;
			pointer-events: none;
		}
		&.show {
			opacity: 1;
			transition: all 0.2s ease-in-out;
			pointer-events: all;
		}
	}

	&__interaction {
		position: relative;
		display: grid;

		&--filled,
		&--empty {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 1rem;
			gap: 0.8rem;
			grid-column: 1;
			grid-row: 1;
		}

		@media screen and (min-width: 1025px) {
			gap: 1rem;
		}

		.buttons {
			display: flex;
			flex-direction: column;
		}
		.bottom {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			width: 100%;

			.order-note {
				cursor: pointer;
				font-size: 0.7rem;
			}
			.disclaimer {
				font-size: 0.6rem;
				color: #aaaaaa;
			}
		}
	}

	.recommended-products.desktop-only {
		position: absolute;
		height: -webkit-fill-available;
		left: 0;
		transform: translateX(0%);
		transition: transform 0.5s cubic-bezier(0.75, 0, 0.175, 1);
		z-index: 1;
		padding-top: 2rem;
		padding-right: 1rem;
		padding-left: 1rem;
		display: flex;
		flex-direction: column;
		gap: 2rem;

		.recommended-products__list-container {
			flex-direction: column;
			gap: 2rem;
		}
		.recommended-products__list {
			overflow-y: auto;
			height: 100%;
		}
	}

	.recommended-products.mobile-only {
		margin-bottom: 2rem;
		.recommended-products__list-container {
			flex-direction: row;
		}
		.recommended-products__list {
			overflow-y: auto;
		}
	}

	.recommended-products {
		padding: 0.5rem 0rem;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;

		&__list-container {
			display: flex;
			height: auto;
			width: fit-content;
			padding-bottom: 0.5rem;
		}

		&__title {
			text-align: center;
		}
	}

	.recommended-product {
		width: 180px;
		display: flex;
		flex-direction: row;
		gap: 0.3rem;
		padding-left: 0.5rem;

		@media screen and (min-width: 751px) {
			width: 200px;
		}

		&__image {
			width: 100px;
			aspect-ratio: 1;

			@media screen and (max-width: 1024px) {
				width: 64px;
				height: 64px;
				aspect-ratio: 1;
			}
		}

		&__details {
			padding: 0.2rem;
			display: flex;
			flex-direction: column;
			width: 100%;
			gap: 0.3rem;

			.details {
				display: flex;
				flex-direction: column;
				gap: 0.3rem;
			}

			.product-name,
			.price--actual {
				font-size: 0.8rem;
			}

			.button--link {
				font-size: 0.6rem;
			}
		}
	}
	&__note-popup {
		position: absolute;
		bottom: 0;
		z-index: 3;
		width: 100%;
		height: auto;
		border: 2px solid #fff;
		background: #000;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1rem 0rem;

		&__content {
			width: 90%;
			height: 80%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			gap: 1rem;

			#note-close-icon {
				position: absolute;
				top: 0;
				right: 0;
				padding: 0.5rem;
				cursor: pointer;
			}

			textarea {
				width: 95%;
				height: 100px;
			}
			.buttons #cart-note-send {
				cursor: pointer;
				width: 100%;
			}
		}
	}
}

// ANCHOR: Cart drawer free shipping reminder
.free-shipping-reminder {
	padding-right: 2rem;
	padding-left: 2rem;
	padding-bottom: 1rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;

	&__text {
		text-align: center;
	}
	&__bar {
		width: 100%;
		height: 4px;
		border: 2px solid white;

		&__inside {
			height: 100%;
			background-color: white;
			&.not-enough {
				animation: glow 1s ease-in-out infinite alternate;

				@keyframes glow {
					0% {
						opacity: 60%;
					}
					50% {
						opacity: 100%;
					}
					100% {
						opacity: 60%;
					}
				}
			}
		}
	}
}

// ANCHOR: Search results

.search-section__results {
	z-index: 5;
}
.search-results {
	&__results-list {
		display: flex;
		flex-direction: column;
		padding: 0% 0%;
		border: 1px solid rgb(255, 255, 255);
	}

	&__divider {
		height: 1px;
		background: rgb(255, 255, 255);
	}

	&__list-item {
		padding: 10px;

		&:hover {
			background-color: rgb(21, 21, 21);
		}
	}

	&__image {
		width: 60px;
		height: 60px;
		min-width: 60px;
		min-height: 60px;
	}

	&__item {
		display: flex;
		flex-direction: row;
		gap: 0.5rem;

		&-content {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
		}
		&-heading {
			font-size: 1rem;
			color: #fff;
		}
		&-price {
			color: rgb(162, 162, 162);
		}
	}

	&__link-container {
		text-align: center;
	}

	&__link {
		background: none;
		border: none;
		cursor: pointer;
		color: #fcdb33;
		width: 100%;
	}
}

// ANCHOR: Search drawer

.search-drawer {
	position: fixed;
	width: 100%;
	bottom: 0px;
	right: 0px;
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px;
	transform: translateX(120%);

	@media screen and (min-width: 1025px) {
		max-width: 500px;
	}

	&.active {
		transform: translateX(0);
		transition: transform 1s cubic-bezier(0.75, 0, 0.175, 1);
	}

	&.hidden {
		transform: translateX(120%);
		transition: transform 1s cubic-bezier(0.75, 0, 0.175, 1);
	}

	&__container {
		width: 100%;
		height: 100%;
		z-index: 100;

		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		padding: 1rem;
		overflow: auto;

		display: flex;
		justify-content: space-between;

		.preload {
			display: flex;
			flex-direction: column;
			gap: 1.2rem;
			overflow: auto;
			opacity: 1;
			transition: opacity 0.3s ease-in;

			&.hidden {
				opacity: 0;
				transition: opacity 0.3s ease-in;
			}

			.group {
				display: flex;
				flex-direction: column;
				gap: 0.5rem;
			}

			.group > h6 {
				font-size: 0.8rem;
			}

			.group > a {
				font-size: 0.8rem;
				font-weight: 100;
				color: white;
				text-transform: capitalize;
			}
		}

		.search-section__close {
			position: absolute;
			right: 0px;
			bottom: 25%;
			cursor: pointer;
		}

		.search-section__container {
			max-width: 100%;
		}

		input {
			width: 100%;
			border: 0px;
			border-bottom: 1px solid white;
			background-color: transparent;
		}

		.search-section__results {
			opacity: 1;
			transition: opacity 0.3s ease-in;
			background-color: transparent;

			&.hidden {
				opacity: 0;
				transition: opacity 0.3s ease-in;
			}
		}

		.search-results__results-list {
			border: 0px;
			padding-top: 1rem;
		}

		.search-results__divider {
			height: 0px;
		}

		.search-section__input::-webkit-search-cancel-button {
			opacity: 0 !important;
		}
	}
}

// SECTION: Search section

.search-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;

	&__container {
		display: flex;
		justify-content: center;
		flex-direction: row;
		width: 100%;

		@media screen and (max-width: 750px) {
			max-width: 90%;
		}
	}

	&__form {
		position: relative;
		width: 100%;
	}

	&__input {
		min-width: 100%;

		&::-webkit-search-cancel-button {
			content: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.43359 18.5L18.4336 6.5' stroke='white' stroke-width='1.5'/%3E%3Cpath d='M6.43359 6.5L18.4336 18.5' stroke='white' stroke-width='1.5'/%3E%3C/svg%3E%0A");
			cursor: pointer;
		}

		@media screen and (max-width: 750px) {
			width: 100%;
		}
	}

	&__results {
		position: absolute;
		background-color: rgb(0, 0, 0);
		width: 100%;
	}

	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 44px;
		height: 44px;
		background: #fcdb33;
		cursor: pointer;
		&:hover {
			> * {
				display: none;
			}
			&:after {
				content: var(--button_symbol);
				color: rgb(0, 0, 0);
			}
		}
	}
}
