.testimonials {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: s1rem;
  overflow: hidden;
}
.testimonials__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  padding: 20px 0px;
}
.testimonials__row, .testimonials__row--reversed {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.testimonials__row {
  justify-content: flex-end;
}
.testimonials__row--reversed {
  justify-content: flex-start;
}
.testimonials__slide--right, .testimonials__slide--left {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.testimonials__slide--right {
  -webkit-animation: testimonials-slide--right 20s linear infinite;
          animation: testimonials-slide--right 20s linear infinite;
}
.testimonials__slide--left {
  -webkit-animation: testimonials-slide--left 20s linear infinite;
          animation: testimonials-slide--left 20s linear infinite;
}
.testimonials__item {
  background-color: aqua;
  height: 200px;
  width: 300px;
  transition: all 0.2s ease-in-out;
}
.testimonials__item:hover {
  transform: scale(1.1);
}

@-webkit-keyframes testimonials-slide--right {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes testimonials-slide--right {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
@-webkit-keyframes testimonials-slide--left {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes testimonials-slide--left {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}