*,
*::before,
*::after {
     box-sizing: inherit;
}

/* ------------ ANCHOR: Base ------------ */
html,
body {
     box-sizing: border-box;
     font-family: var(--font-family);
     font-style: var(--font-style);
     height: 100%;
     min-height: 100%;
     margin: 0;
     background-color: var(--background-color);
}

/* ------------ ANCHOR: Typography ------------ */
h1,
h2,
h3,
h4,
h5,
h6,
p {
     padding: 0;
     margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     text-transform: var(--headings-style);
}

h1,
h2,
h3,
h4,
h5,
h6 {
     color: var(--headings-color);
     line-height: 0.9;
}

p {
     color: var(--text-color);
}

h1 {
     font-size: calc((((((var(--font-size-type-scale) * var(--font-type-scale)) * var(--font-type-scale)) * var(--font-type-scale)) * var(--font-type-scale)) * var(--font-type-scale)) * var(--font-type-scale) * 1px);
}

h2 {
     font-size: calc(((((var(--font-size-type-scale) * var(--font-type-scale)) * var(--font-type-scale)) * var(--font-type-scale)) * var(--font-type-scale)) * var(--font-type-scale) * 1px);
}

h3 {
     font-size: calc((((var(--font-size-type-scale) * var(--font-type-scale)) * var(--font-type-scale)) * var(--font-type-scale)) * var(--font-type-scale) * 1px);
}

h4 {
     font-size: calc(((var(--font-size-type-scale) * var(--font-type-scale)) * var(--font-type-scale)) * var(--font-type-scale) * 1px);
}

h5 {
     font-size: calc(var(--font-size-type-scale) * (var(--font-type-scale) * var(--font-type-scale) * 1px));
}

h6 {
     font-size: calc(var(--font-size-type-scale) * var(--font-type-scale) * 1px);
}

p {
     font-size: var(--font-size);
}

p .small {
     font-size: calc(var(--font-size-type-scale) / var(--font-type-scale) * 1px);
}

.subheading {
     font-size: calc(var(--font-size-type-scale) / var(--font-type-scale) * 1px);
}

.button {
     font-size: calc((var(--font-size-type-scale) / var(--font-type-scale)) * 1px);
     font-weight: 700;
}

.price-text {
     font-size: var(--font-size);
}

.label-text {
     font-size: calc((var(--font-size-type-scale) / var(--font-type-scale)) / var(--font-type-scale) * 1px);
}

.tag-text {
     font-size: calc(((var(--font-size-type-scale) / var(--font-type-scale)) / var(--font-type-scale)) / var(--font-type-scale) * 1px);
}

.text-alignment-center {
     text-align: center;
}

.text-alignment-right {
     text-align: right;
}

.text-alignment-left {
     text-align: left;
}

@media screen and (min-width: 750px) {
     .text-position-right {
          margin-left: auto;
     }

     .text-position-left {
          margin-right: auto;
     }

     .text-position-center {
          margin-right: auto;
          margin-left: auto;
     }

}

/* ------------ ANCHOR: Button style ------------ */

.primary-button,
.secondary-button {
     text-transform: uppercase;
     padding: 15px 30px;
     text-align: center;
}

@media screen and (min-width: 750px) {

     .primary-button,
     .secondary-button {
          min-width: 200px;
     }

}

.primary-button {
     color: var(--primary-button-text-color);
     background-color: var(--primary-button-background-color);
}

.secondary-button {
     color: var(--secondary-button-text-color);
     background-color: var(--secondary-button-background-color);
}

.primary-button:hover,
.secondary-button:hover {
     background-color: var(--button-background-hover-color);
     transition: 0.2s;
}

a.border.primary-button {
     border: 2px solid var(--primary-button-border-color);
}

a.border.secondary-button {
     border: 2px solid var(--secondary-button-border-color);
}

a.border.primary-button:hover,
a.border.secondary-button:hover {
     color: var(--button-text-border-hover-color);
     border: 2px solid var(--button-text-border-hover-color);
     transition: 1s;
}

.primary-button:after,
.secondary-button:after {
     content: " ➜";
     position: absolute;
     opacity: 0%;
     transform: TranslateX(0px);
     transition: 0.5s;
}

.primary-button:hover:after,
.secondary-button:hover:after {
     opacity: 100%;
     transform: TranslateX(10px);
}

.buttons {
     display: flex;
     width: 100%;
     gap: 10px;
     justify-content: center;
     flex-direction: column;
}

@media screen and (min-width: 750px) {
     .buttons {
          flex-direction: row;
     }

     .buttons-left {
          justify-content: left;
     }

     .buttons-center {
          justify-content: center;
     }

     .buttons-right {
          justify-content: right;
     }
}

/* ------------ ANCHOR: Button animation ------------ */

a.button {
     position: relative;
     text-decoration: none;
     overflow: hidden;
     text-transform: uppercase;
}

a.button span {
     position: absolute;
     display: block;
}

a.button span:nth-child(1) {
     top: 0;
     left: -100%;
     width: 100%;
     height: 2px;
     background: linear-gradient(90deg, transparent, var(--button-animation-color));
}

a.button:hover span:nth-child(1) {
     left: 100%;
     transition: 0.75s;
}

a.button span:nth-child(2) {
     top: -100%;
     right: 0;
     width: 2px;
     height: 100%;
     background: linear-gradient(180deg, transparent, var(--button-animation-color));
}

a.button:hover span:nth-child(2) {
     top: 100%;
     transition: 0.75s;
     transition-delay: 0.2s;
}

a.button span:nth-child(3) {
     bottom: 0;
     right: -100%;
     width: 100%;
     height: 2px;
     background: linear-gradient(270deg, transparent, var(--button-animation-color));
}

a.button:hover span:nth-child(3) {
     right: 100%;
     transition: 0.75s;
     transition-delay: 0.4s;
}

a.button span:nth-child(4) {
     bottom: -100%;
     left: 0;
     width: 2px;
     height: 100%;
     background: linear-gradient(360deg, transparent, var(--button-animation-color));
}

a.button:hover span:nth-child(4) {
     bottom: 100%;
     transition: 0.75s;
     transition-delay: 0.6s;
}

/* ------------ ANCHOR: All sections ------------ */

@media screen and (min-width: 750px) {
     .full-width {
          width: 100%;
     }

     .wrapped {
          max-width: var(--wrapped-content-width);
          margin-left: auto;
          margin-right: auto;
     }
}

/* ------------ ANCHOR: Rich-text section ------------ */

.wrapper {
     display: flex;
     flex-direction: column;
     justify-content: center;
}