.video-with-text {
	display: flex;
	align-items: center;
	overflow: hidden;
	gap: 2rem;
	padding: 50px 15px;

	@media screen and (min-width: 751px) {
		gap: 2rem;
	}

	&.first {
		flex-direction: column;

		@media screen and (min-width: 751px) {
			flex-direction: row;
		}
	}

	&.second {
		flex-direction: column-reverse;

		@media screen and (min-width: 751px) {
			flex-direction: row-reverse;
		}
	}

	&__media {
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		@media screen and (min-width: 751px) {
			width: 50%;
		}
	}
	&__video-box {
		display: grid;
		width: 350px;
	}

	&__video,
	&__thumbnail {
		grid-column: 1;
		grid-row: 1;
	}
	&__video {
		z-index: 1;
		.video {
			display: none;
			&.shown {
				display: block;
			}
		}
	}

	&__thumbnail {
		z-index: 2;
		display: grid;
		justify-items: center;
		&:hover {
			cursor: pointer;
		}
		&.hidden {
			display: none;
		}

		* {
			grid-column: 1;
			grid-row: 1;
		}

		img {
			z-index: 3;
		}

		.icon {
			z-index: 4;
		}
	}

	&__content {
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		@media screen and (min-width: 751px) {
			width: 50%;
		}
	}

	&__box {
		display: flex;
		flex-direction: column;

		width: 100%;

		@media screen and (min-width: 751px) and (max-width: 1024px) {
			align-items: center;
			width: 100%;
			.buttons {
				justify-content: center;
			}
		}
	}
}
